[2014-03-27 15:09] bartoszwalacik opened #11 "Entity i ValueObject w kolekcjach, mapach i tablicach"
pomysł jest taki

to co mamy
Obsługę diffa dla list ale tylko dla elementów typów Primitive or Value.
Jeśli ListChangeAppender dostanie coś innego to ignoruje i logguje warn, że nie wspiera tego typu elementu.

Chcemy dodać obsługę dla List z elementami typu Entity i ValueObject,
proponuję nie zmieniać algorytmu tylko zapewnić odpowiednie wtyczki do porównywania obiektów.

Algorytm jest prosty, el

[2014-04-02 05:36] bartoszwalacik opened #14 "Dokończenie serializacji Diffa, zrobienie deserializacji Diffa (JSON)"
see ChangeTypeAdapter
Aktualnie, ChangeTypeAdapter ma zaimplementowaną serializację tylko 5 ChangeType'ów. Trzeba dodać serializację pozostałych ChangeType'ów oraz zaimplementować całą deserializację.
Dodatkowo, klasę ChangeTypeAdapter jest już dość duza, trzeba będzie pewnie ją zdekomponować, na zbiór serializerów/deserializerów dla konkretnych ChangeType

[2014-04-18 21:14] bartoszwalacik opened #17 "JaversMongoRepository"
nowy moduł z implementacją JaversRepository na Mongo, założenia:
- klient zarządza połączeniem  do bazy - chcemy żeby dostarczył nam obiekt mongo (np niech implementuje MongoConnectionProvider)
- ponieważ javers ma (mieć) funkcjonalność dwustronnej konwersji commitów na JSON, możemy korzystać wprost z niskopoziomowego api klienta Mongo (bez springowego mongoTemplate)
- naszym dokumentem będzie Com

[2014-04-29 20:27] #11 closed, assigned to bartoszwalacik

[2014-05-28 20:52] pszymczyk opened #24 "Nowe metody w Javers API - obliczenie Diffa ze snapshotów"
jako klient Javersa chciałbym mieć 3 dodatkowe metody w API:
1. Optional<Change> getLatestChange(GlobalCdoId globalId);
2. List<Change> getChangeHistory(globalId, limit)
3. Commit getHead()

[2014-06-01 18:05] #14 closed, assigned to nobody

[2014-06-01 18:07] bartoszwalacik opened #25 "Diff - implement ChangeAppender for Sets of ValueObjects"
No idea how to deal with ValueObjects id's in Sets

[2014-06-03 12:05] bartoszwalacik opened #26 "rozdzielenie testów integracyjnych Commita od Repository"

[2014-06-03 12:06] bartoszwalacik opened #27 "babol - zapętla się GraphBuilder jeśli w danych jest cykl na ValueObjectach"

[2014-06-09 07:36] bartoszwalacik opened #28 "javers-demo, snapshoty na UI"
Chcemy dodać w demo-app ekran z prostym browsem snapshotów z javers-mongo-repository. Snapshoty będą renderowane jako JSON, analogicznie jak diffy teraz

[2014-06-30 11:31] #28 closed, assigned to nobody

[2014-06-30 11:31] #27 closed, assigned to nobody

[2014-07-03 16:34] #17 closed, assigned to nobody

[2014-07-03 16:34] #26 closed, assigned to nobody

[2014-07-03 16:34] #24 closed, assigned to pszymczyk

[2014-07-03 16:35] bartoszwalacik opened #32 "Dodanie CommitMetadata do CdoSnapshot i Change, persist tego na mongo"

[2014-07-28 07:02] #32 closed, assigned to pszymczyk

[2014-07-29 07:23] pawelszymczyk opened #36 "Javers Query Language"
As a User, I want to query for Changes & Snapshots
using GlobalId and propertyName

TODO:
add field Set<Property> changedProperties to CdoSnapshot
add method Javers.getChangeHistory(JaversQuery query)
add method Javers.getStateHistory(JaversQuery query)

[2014-07-29 07:27] pawelszymczyk opened #37 "Javers example app"
We need simple a javers client app. Mainstream technologies:
Java7, JUnit, Maven.
App should contain simple use cases (as JUnit tests), how to use javers

[2014-07-29 07:36] pszymczyk opened #38 "create http://javers.org/documentation/examples/"
as a User i want to copy code snippets from Javers documentation page to
my app source code

TODO:
create javers.org/documentation/examples

[2014-07-29 07:37] pszymczyk opened #39 "Javadoc"
Przejrzeć, dodać javadoc. Dodać linki na stronie do javadoc

[2014-09-30 11:08] thomasdarimont opened #42 "Issue language"
Would you mind using english for the issue descriptions? This helps others to be able to follow the discussion ;-)

[2014-09-30 11:19] thomasdarimont opened #43 "Implementation of methodKey can generate the same key for different methods."
The current implementation of methodKey seems to be too simplistic...
https://github.com/javers/javers/blob/master/javers-core/src/main/java/org/javers/common/reflection/ReflectionUtil.java#L55

[code]

[2014-10-02 11:18] #39 closed, assigned to nobody

[2014-10-02 11:32] bartoszwalacik opened #44 "javers.org SEO"
We need to work on javers.org Google page rank
Alina could help

AC
when querying Google for javers
our site should first result

[2014-10-02 11:34] bartoszwalacik opened #45 "laptop stickers"
This time, let's do a bit smaller stickers, (with current logo)

[2014-10-02 11:35] bartoszwalacik opened #46 "stackoverflow promotion"
find questions at stackoverflow  aboud object diff,
recomend Javers as the best tool for diffs

[2014-10-02 11:35] #42 closed, assigned to nobody

[2014-10-02 11:49] pawelszymczyk opened #47 "Aspect around methods from Spring Data repositories"
As a Spring Data user i want to have aspect rounding all methods from Spring Data repositories. Aspect should call javers.commit() if arguments from join point have @JaversAuditable annotation.

[2014-10-02 13:14] bartoszwalacik opened #48 "documentation - language Editor"
someone who with good english shoud look at documentation and do the language correction

[2014-10-06 18:17] pawelszymczyk opened #49 "As a Javers user i want to have Javers Audit Administration Tool"
Javers Audit Administration Tool should provide possibility to preview all snapshots and changes history of given object

[2014-10-06 19:45] bartoszwalacik opened #50 "javers.org - main page content refresh"
main page should by refreshed and get synced with javers.org/documentation

[2014-10-07 18:12] pszymczyk opened #51 "As a Javers developer i want to build Javers with Gradle"

[2014-10-08 20:05] bartoszwalacik opened #53 "stackoverflow Exception when building large graphs (more then 10000 edges)"
recursion at GraphBuilder should be replaced with simple iteration

[2014-10-11 10:47] #53 closed, assigned to nobody

[2014-10-11 10:53] #43 closed, assigned to bartoszwalacik

[2014-10-11 10:55] #38 closed, assigned to nobody

[2014-10-12 21:00] #51 closed, assigned to pszymczyk

[2014-10-12 21:01] #45 closed, assigned to nobody

[2014-10-12 21:03] bartoszwalacik opened #56 "annotation scanner"
As a user i want to map my domain model with minimal effor. JaVers should understand well known annotations sets - jpa, hibernate and provide it's own set

[2014-10-20 12:42] teppokauppinen opened #57 "Unsupported major.minor version 52.0"
I'm testing Javers and the following row throws " Unsupported major.minor version 52.0" error:
Javers javers = JaversBuilder.javers().build();

java.lang.UnsupportedClassVersionError: org/javers/core/JaversBuilder : Unsupported major.minor version 52.0

If I understand this correctly, it means that I should use Java8 in order to use Javers, even though the documentation says "JaVers is written in

[2014-10-22 21:16] #57 closed, assigned to bartoszwalacik

[2014-10-30 17:08] phelypp opened #59 "Doubt latest version"
Hello Friends

Last Version in maven repository was compile JDK 8?

Thanks!

[2014-10-31 18:21] phelypp opened #60 "Error saving a single entity in version 0.86"
Friends,

There is an error when saving a single entity in version 0.86
in class CdoSnapshotTypeAdapter on line 52.
Ta not finding the different mapping. Search globalId and json this globalCdoId. filename is wrong
Note: It has the code in the entity

Thank you

Caused by: java.lang.IllegalArgumentException: argument should not be null
    at org.javers.common.validation.Validate.argumentIsNotNull

[2014-10-31 20:34] #60 closed, assigned to nobody

[2014-10-31 20:45] #46 closed, assigned to nobody

[2014-11-04 18:30] justiandre opened #61 "v1.0"
Is there a date for the release of v1.0 version?

[2014-11-05 05:30] #59 closed, assigned to bartoszwalacik

[2014-11-11 19:47] #56 closed, assigned to nobody

[2014-11-26 19:12] ctmay4 opened #62 "Morphia annotations"
I am trying to test Javers with entities I save into a MongoDB database.  I am using Morphia (https://github.com/mongodb/morphia) annotations to handle the saves and gets.  Javers does not seem to like those annotations however.  Here is a simple test I put together to show the problem:

[code]

This gives the following error:

[code]

However if I comment out only the "@Entity" annotation it work

[2014-11-28 15:16] #62 closed, assigned to nobody

[2014-11-28 16:20] ctmay4 opened #64 "Deailing with ObjectId"
Using Morphia, the primary identifier is always an ObjectId.  They are annotated in Morphia with @Id.  In my particular case, I have an entity where is ObjectId is the database unique identifier, but for end users I represent uniqueness by three fields (algorithm, version, name).  So in the JSON mapping that gets returned through an API, the ObjectId is actually hidden to end users.  Using ObjectI

[2014-12-01 07:02] #64 closed, assigned to bartoszwalacik

[2014-12-01 20:27] ctmay4 opened #66 "Change processing"
I am trying to figure out how the library would be used to show a traditional "changelog".  By traditional I am referring to something that is grouped together by "commit" then by field.

[code]

So a couple of questions:
1.  The documentation is missing in some places, so I may have missed it.  Is there a way to get "commits" instead of "changes"?  Commits would store the CommitMetaData and have

[2014-12-05 18:35] pawelszymczyk opened #67 "Sql repository"
As a relational database user i want to persists changes in Sql reposioty.

[2014-12-17 03:09] MrCreosote opened #70 "JaVers doesn't work with Maps out of the box?"
Hi there,

JaVers is exactly what I'm looking for, except that it doesn't seem to handle diffing maps. I feel like I must be doing something wrong:

[code]

[code]

My assumption is that a map counts as a container and therefore:

[Furthermore, it uses Value, Primitive and Container notions. The last two types are JaVers internals and can't be mapped by the user.](http://javers.org/documentation/c

[2014-12-17 21:54] bartoszwalacik opened #71 "tracking a top-level object deletion"
How would I go about tracking a top-level object deletion? So if I remove an entity completely from my database, how do I "commit" that change to Javers?

we need new method:
[code]

[2014-12-18 10:54] #70 closed, assigned to bartoszwalacik

[2014-12-18 12:46] pawelszymczyk opened #72 "Distribute Javers by Bintray"
https://bintray.com/

[2014-12-18 20:56] bartoszwalacik opened #73 "Listing newObject event on change history"
requested by https://github.com/ctmay4

When I have an entity I would like to show the full history of that entity. That would include the date it was added to the database. For example, I would like to produce this:

[code]

[2014-12-18 21:01] #66 closed, assigned to nobody

[2014-12-25 18:25] #61 closed, assigned to nobody

[2014-12-26 18:26] #50 closed, assigned to nobody

[2015-01-02 08:27] bartoszwalacik commented on #66
https://github.com/javers/javers/issues/73 is developed and put to pull request, stay tuned

[2015-01-03 19:18] bartoszwalacik commented on #73
released in 1.0.1

[2015-01-03 19:18] #73 closed

[2015-01-03 19:20] bartoszwalacik commented on #66
https://github.com/javers/javers/issues/73 Listing newObject event on change history
is released in 1.0.1

[2015-01-06 13:37] vamc0 opened #75 "Compatibility issue with JDK "1.6.0_27""
Hi,

I am having issues using Javers with version "1.6.0_27". Also I was checking if I could build my own javers library compiled with this version even that failed as there were internal dependencies with higher version.

Can you please let me know if this library works for the JDK version "1.6.0_27"

Thanks,
Vamsi Krishna

[2015-01-06 19:24] ctmay4 commented on #66
Just tested this and it is working correctly for my tests.

[code]

One VERY minor issue in SimpleTestChangeLog.java:

[code]

There is an unmatched single quote in the string that is not in the other text outputs.

The only outstanding issue I have found is covered in #71.

[2015-01-06 21:27] ctmay4 opened #76 "GENERIC_TYPE_NOT_PARAMETRIZED"
This is probably a lack of understanding on my part, but I am getting this error trying to commit changes to the repository:

[code]

It doesn't seem to like the fact that I have a field that is a List<List<String>>.  The field in question looks like this (that is a Morphia annotation):

[code]

and the getter/setter look like this (that is a Jackson annotation):

[code]

Do I have to register tha

[2015-01-07 06:09] bartoszwalacik commented on #75
I'll check this

[2015-01-07 13:27] binarytemple opened #77 "CLASS_EXTRACTION_ERROR - Don't know how to extract Class from type 'T'."
Hi there,
When running Javers against the AST classes provided by [ETP](https://github.com/metadave/etp) (Erlang Term Parser) project I provoke a crash in Javers.

The exception is as follows:

    Exception in thread "main" JaversException: CLASS_EXTRACTION_ERROR JaVers bootstrap error - Don't know how to extract Class from type 'T'.
    	at org.javers.common.reflection.ReflectionUtil.extractClas

[2015-01-07 15:09] binarytemple commented on #77
From debugging the code, it seems fairly involved. In case you'd like to see what I've been doing, I've shared the project (binarytemple/javers-example) with you. The branch concerned is called etp-attempt. I've left it where it is for now.

[2015-01-07 20:17] pawelszymczyk commented on #77
Hi, I can't see javers-example repository.

[2015-01-07 21:19] bartoszwalacik commented on #75
well, looks like that I cant compile Javers to targetCompatibility = 1.6 without changing also sourceCompatibility to 1.6
It wouldn't be easy for us, because we use Java 7 language features like <> operator.

Normally, I use Java8. Since Javers is a library, it should support older Java version. But Java 6  would be 2 steps backward. Java 7 was released on July 2011.

So, sorry I cant help you (I'

[2015-01-07 21:19] #75 closed

[2015-01-07 21:26] binarytemple commented on #77
Ah, I'd added bartoszwalacik, added you now - https://github.com/binarytemple/javers-example

[2015-01-07 21:46] bartoszwalacik commented on #77
thanks for detailed report, w'll see what's going on

[2015-01-07 21:58] bartoszwalacik commented on #77
I've check your example repo, and cant see the issue.
Could you please give us more details?

(btw I've pushed a fix to your repo, to make it compilable - https://github.com/binarytemple/javers-example/commit/77fa76a57e24ecad83a1f6e37eb5b5570bd7f467)

So you trying to diff objects of class:

public abstract class ETPTerm<T> {
...
}

But what is Your concrete class?

[code]

[2015-01-07 22:03] bartoszwalacik commented on #66
right, I'll remove this quote mark,
we are working on #71.

[2015-01-07 22:08] ctmay4 commented on #66
Sounds great.  Thanks again!

[2015-01-07 22:19] bartoszwalacik commented on #76
yeah, looks like that error message is not very informative in this case. I'll change this message.

But te be honest, List<List<String>> is not what we can support for now.
Not sure how we could model a Change for this type.

Are you able to change this data model, and introduce a new ValueObject class?
Or is it required by some framework you use?

For example to sth like this

private List<Strin

[2015-01-07 22:30] ctmay4 commented on #76
I might be able to change it, but it is going to be alot of work.  There are alot of things that already use it.  Why is it easier to support a List<sub-class> where sub-class only has a List<String> vs just having a List<List<String>>?

Is there a way that I could say to ignore it so I could continue my testing?

[2015-01-07 22:42] bartoszwalacik commented on #76
as a quick workaround you can add @DiffIgnore to the field. Give me a while to think out how to solve this problem better

[2015-01-07 23:38] binarytemple commented on #77
@bartoszwalacik Sorry Bartosz, the problem only manifests when running the class ETPExampleMain on the branch 'etp-attempt'. It produces the following output:

    /Library/Java/JavaVirtualMachines/jdk1.8.0_20.jdk/Contents/Home/bin/java -Didea.launcher.port=7535 "-Didea.launcher.bin.path=/Applications/IntelliJ IDEA 14 EAP.app/Contents/bin" -Dfile.encoding=UTF-8 -classpath "/Library/Java/JavaVirtua

[2015-01-08 09:29] bartoszwalacik commented on #77
ok, got it

[2015-01-08 09:33] binarytemple commented on #77
Also, if it's of use to you, I might be able to help by writing a test-case to reproduce the issue this weekend - I haven't had time to figure out the gradle/intellij interaction/build chain yet.

[2015-01-08 12:27] bartoszwalacik commented on #77
thanks, the example from  the branch 'etp-attempt' is ok

[2015-01-08 15:31] tomazic89 opened #78 "NullPointerException at ReflectionUtil.getAllFields() when using custom interface as a variable type"
Version used: 1.0.1
Source: maven repo
The bug is in line 97 of ReflectionUtils.java
```if (methodSource.getSuperclass() != Object.class) { //recursion stop condition```
There should also be null check
```if (methodSource.getSuperclass() != Object.class && methodSource.getSuperclass() != null) { ```

I was trying to play around with PropertyMapping but I think that this is not the case.

I'm addin

[2015-01-08 17:40] bartoszwalacik commented on #78
thanks for detailed report, i am looking at this right now

[2015-01-09 06:12] bartoszwalacik commented on #78
done & released, v.1.0.2
see http://javers.org/documentation/features/#release-notes

give us a start if yuo like JaVers https://github.com/javers/javers/stargazers

[2015-01-09 06:12] #78 closed

[2015-01-09 07:53] tomazic89 commented on #78
It works as expected now. Can't thank you enough for this quick response and fix.
The star is a sure thing now.

[2015-01-09 08:57] tomazic89 opened #80 "Google Guava support"
This is more an 'enhancement' than a bug I suppose.
javers.compare() doesn't detect changes in the object variables of type com.google.common.collectMultiMap.

Since Guava is increasingly used this feature would be nice to have.

Is it possible to register my own comparator for custom types? Can't find that in the documentation.

Thanks, Nejc

[2015-01-09 10:21] tomazic89 commented on #80
I respect lightweight decision and I'd also like to leave it like that.
I currently don't have a case that I would need Multimap attributes to be compared, but I believe that I will  in the near future.
MapChange seems like a good class to start with and I believe that it would solve my case.
I can give it a closer look and maybe propose an API in 2 days, I'm totally overbooked till Sunday.

In my

[2015-01-10 12:02] bartoszwalacik commented on #47
we also need a documentaion for this:

/documentation/spring-integration

[2015-01-11 00:22] binarytemple commented on #77
I was able to get a little further in my investigation, this is reasonably challenging stuff. I've attached screenshots of my debugging session, along with explanations for what I was trying. I'm not 100% certain any chance of this type belongs in your codebase, but perhaps you could give me some feedback and let me know if I'm looking in the right places.

This first example just shows looking at

[2015-01-11 08:13] bartoszwalacik commented on #77
thanks for that detailed report,
I'm gonna to investigate this case at today afternoon

regards

[2015-01-12 10:39] bartoszwalacik commented on #77
Hi, situation is quite complex here.

What we know:
Statically you are using abstract generic class:
`ETPTerm<T>`

In runtime, you are using instances of
`ETPList<List<ETPTerm<?>>>`

The problem is, that JaVers gets confused while determinig actual type of property
`T getValue();`

It should be resolved as
`List<ETPTerm<?>> getValue();`

I'm not an expert in Java Generics, so I need some more rese

[2015-01-12 10:47] binarytemple commented on #77
Agreed, the implementation is rather convoluted. I can work around the
issue from my side by forking and modifying the ETP library. Really the
problem here is (as with so many things) the JVM's decision to implement
type erasure. Regardless, I suspect this issue will come back to bite us -
hence my choice to spend some time debugging. Unfortunately this pattern is
somewhat common in AST generation

[2015-01-12 10:57] bartoszwalacik commented on #77
well, type erasure has also some advantages. In this case, all types can be determined statically, so erasure is not a blocker.

For now, I'm sure that JaVers could behave better here and at least determine actual type of `value()`.
I'm going to fix this and release new version in this week

[2015-01-12 11:01] binarytemple commented on #77
Thanks man. I'm going to see what i can do to make ETP more robust in the
meantime. B
On 12 Jan 2015 10:57, "Bartosz Walacik" <notifications@github.com> wrote:

[2015-01-12 16:29] bartoszwalacik commented on #71
solved, waiting to CR. To be released in 1.0.3

[2015-01-12 16:34] bartoszwalacik commented on #66
Hi, last issue from this thread ( tracking a top-level object deletion #71) is solved
 and to be released in version 1.0.3

There is a new method added to Javers:
[code]

If you need early access to this new version,
download 1.0.3-SNAPSHOT from our snapshots repository
https://oss.sonatype.org/content/repositories/snapshots

[2015-01-12 16:45] bartoszwalacik commented on #77
I've fixed this issue, now it is waiting for CR and release 1.0.3

You can get early access to the new version, it is available as a 1.0.3-SNAPSHOT
in https://oss.sonatype.org/content/repositories/snapshots

I've pushed Javers version update to your example branch:
https://github.com/binarytemple/javers-example/commits/etp-attempt

Check it out, main problem is solved but another one arise (as I s

[2015-01-12 16:49] binarytemple commented on #77
Nice work! I had started removing all templating and generics from ETP but just removing those wildcard bounds is much easier to do. Thank you. It will be later in the week before I can test.

[2015-01-12 17:27] bartoszwalacik commented on #77
ok, so I'll close this issue as soon as javers 1.0.3 will be released to maven Central.

Give us a star if you like JaVers
https://github.com/javers/javers/stargazers

[2015-01-12 18:33] ctmay4 commented on #71
Just tested on the snapshot and it worked well with my tests.  Thanks.

[2015-01-13 08:03] bartoszwalacik commented on #77
1.0.3 released to Central

[2015-01-13 08:03] #77 closed

[2015-01-13 08:03] bartoszwalacik commented on #71
1.0.3 released to Central

[2015-01-13 08:03] #71 closed

[2015-01-13 21:34] bartoszwalacik commented on #80
ok, I'm starting to work on this issue, soon, I'll give you an insight into new API

[2015-01-13 22:40] bartoszwalacik commented on #80
I have came up with this simple interface
[code]

[2015-01-14 07:23] pawelszymczyk commented on #80
I have noticed that Jackson had resolved similiar problem:
https://github.com/FasterXML/jackson-databind/blob/master/src/test/java/com/fasterxml/jackson/databind/module/TestTypeModifiers.java#L218

The had MyMapLikeType and posibility to register custom modifiers

[2015-01-14 08:28] igler opened #85 "Spring / JPA"
I'd like to use JaVers in a SpringFramework-environment. I have several repositories connecting to a MySQL database. When will version 1.1 (documentation says it supports SQL databases) approximately be released so I can test it?

[2015-01-14 08:43] bartoszwalacik commented on #85
Hi Michael, we are starting to develop JaversSQLRepository in next weekend. Think it should be relaeased in February. Would you like to contribute as a developer extent?

[2015-01-14 08:51] igler commented on #85
If I have the time and knowledge to contribute, why not? At least I can help testing things.

[2015-01-15 14:33] igler commented on #85
BTW, I am using Hibernate-Envers and spring-data-envers (https://github.com/spring-projects/spring-data-envers) so I can get revisions of a certain entity. My goal is to get an audit-trail of a certain entity or set of entities.

[2015-01-15 20:34] bartoszwalacik commented on #85
right, audit-trail is what JaVers was created for

[2015-01-18 10:36] bgalek opened #87 "mongo ensureIndex is Deprecated, move to createIndex"
We should use new method createIndex and check if it works without additional refactoring

[2015-01-19 07:43] bartoszwalacik opened #89 "SpringJPAConnectionProvider"
When SqlRepository will be ready, I want to have SpringJPAConnectionProvider
to easily plugin Javers into my Spring/Hibernate application

[2015-01-20 10:24] bartoszwalacik commented on #80
done and released in 1.0.4, there is no documentation fot this feature yet,
try
http://javers.org/javadoc_1.0.0/org/javers/core/JaversBuilder.html#registerCustomComparator-org.javers.core.diff.custom.CustomPropertyComparator-java.lang.Class-

[2015-01-20 10:24] #80 closed

[2015-01-20 10:24] bartoszwalacik commented on #80
give us a star if you like javers
https://github.com/javers/javers/stargazers

[2015-01-20 22:24] ctmay4 commented on #76
Any more thoughts on this?  It is the last show stopper for me.  The issue is that I want my raw data to look like this:

[code]

Since I use Jackson, the entity is annotated like this:

[code]

I could change the entity to look like this, which I think would work with your library:

[code]

and define TableRow as an entity with a single property, which is a List<String>.  However then the output

[2015-01-21 16:42] bartoszwalacik commented on #76
Hi Chuck,
in the new version we have Custom Comparators.
see http://javers.org/javadoc_1.0.0/org/javers/core/JaversBuilder.html#registerCustomComparator-org.javers.core.diff.custom.CustomPropertyComparator-java.lang.Class-
Also we have Custom Json Serializers.
see http://javers.org/documentation/repository-examples/#json-type-adapter

you can use them for a TableRow class

You mean output from Dif

[2015-01-21 18:00] mantithetical opened #91 "Serializing HibernateProxy objects"
Attempting to serialize HibernateProxy objects throws an error like:

 CLASS_NOT_MANAGED JaVers runtime error - given javaClass 'mypackage.myclass_$$_javassist_171'

I have tried to add a HibernateProxySerializer like so:

    private static class HibernateProxySerializer extends JsonTypeAdapterTemplate<HibernateProxy> {
		@Inject
		private TypeMapper typeMapper;

		@Override
		public HibernatePro

[2015-01-22 11:26] bartoszwalacik commented on #91
Hi mantithetical
two things:

1. Could you please come up with running example which reproduces this error, and push it to github?

2. Don't think serializing Hibernate proxies is a right way. Proxies are runtime-generated wrappers for domain objects. JaVers should have a feature to skip/ignore proxies

[2015-01-22 17:57] ctmay4 commented on #76
I did some more testing and put together a more simple complete example:

https://gist.github.com/ctmay4/df042868def85a380ff8

In that example, I also tested the same object using another library as a point of reference (https://github.com/SQiShER/java-object-diff).

Ideally, there would be a way in JaVers to register how to deal with a List<String> in my example.

Let me know if you need anything

[2015-01-23 07:26] bartoszwalacik commented on #76
your gist is fine, I'm starting to work on this issue

[2015-01-26 13:32] mantithetical commented on #91
1. Let me back to you with a compact example
2. Ignoring proxies is a good start. However, an option to unproxy the proxies before serialization could also be useful.

[2015-01-27 07:08] bartoszwalacik commented on #91
as far as I remember, unproxing Hibernate proxies is not trivial. Hibernate proxies domain objetcs
and all collections.
We don't want to create dependency to Hibernate in javers-core, so unproxying will be implemented as another javers module or generic approach.

First of all we need runnable example for testing, could you push to github compact project with Hibernate/H2 setup?

[2015-01-27 07:10] #48 closed

[2015-01-29 09:47] mantithetical commented on #91
Here's an example https://github.com/mantithetical/javers-hibernate-proxy. The call to javers is in PodcastDaoJPA2Impl. Gson allows one to skip classes; perhaps, we could exploit that feature to ignore proxies.

There's another issue with circular references when serializing bi-directional mappings; I will open a separate issue for that. Thanks for your help.

[2015-01-29 17:41] bartoszwalacik commented on #76
Hi Chuck,
issue is done and available as snapshot version 1.0.5-SNAPSHOT
in sonatype repo: https://oss.sonatype.org/content/repositories/snapshots/

check it and if it works fine, we release it

[2015-01-29 17:44] bartoszwalacik commented on #91
got it, I will start to working on unproxing issue at the weekend

[2015-01-29 18:38] ctmay4 commented on #76
I retested my gist and it worked great.

[code]

I will do some more testing this afternoon.  Thanks!

[2015-01-29 19:00] ctmay4 commented on #76
Does there need to be a Mongo repository snapshot to go along with the core changes?  I tried to to a more "real" test and I am getting these errors.  I'm pretty sure I was not getting them before.

[code]

[2015-01-30 15:54] mantithetical opened #93 "Handling circular references"
In a bidirectional JPA OneToMany/ManyToOne association, entities have a circular reference. For example,

[code]
This throws off Gson and causes a stackoverflow.

[2015-01-30 20:46] bartoszwalacik commented on #76
right, NPE is fixed,
please check fresh snapshot version 1.0.5-SNAPSHOT

[2015-01-30 21:52] ctmay4 commented on #76
That fixed the NPE.  Thanks.

I noticed that my units tests were running much slower.  I boiled it down to a singe table.  When I save this table, I get the following in the log:

[code]

Just saving a single table is putting 1686 entries into the snapshot table.  Is that normal?  The operation is pretty slow (over 5 seconds for this table using a local instance of MongoDB).  Here is the the table

[2015-01-31 07:17] bartoszwalacik commented on #76
ok, so you are comparing your app performacne with and without javers?
the key information is
`Commit(id:1.0, snapshots:1686, changes - NewObject:1686)`
It means, Javers detects 1686 distinct objects in the object graph you are persisting.

Is your graphs really such large or maybe there are some noise data like dynamic proxies or auto-generated code?

[2015-01-31 15:42] ctmay4 commented on #76
The object is the one above except with 840 rows in the definition.  I think the reason it is basically doubled is because I have an internal representation of the "definition" that is constructed for searching.

So 2 questions:

1.  Is there a way to tell JaVers to ignore certain properties for comparison?  I could probably null out the fields before committing them, but I didn't know if there wa

[2015-01-31 15:58] bartoszwalacik commented on #93
Normally, Javers supports circular references out of the box. This issue could be related to lazy loading proxies issue. Are those objects clean or proxied?

[2015-01-31 16:28] bartoszwalacik commented on #76
Answering your questions.
1. Yes you can easily ignore certain properties using annotations (@Transient, @DiffIgnore). Check javers.org/documentation/configuration for details.

2. Javers has to persist snapshots of all objects given to initial commit. This is the only way to calculate the diff during second commit. But after second commit javers

[2015-01-31 16:37] bartoszwalacik commented on #76
... After second commit , javers persists only snapshots of changed objects. Snapshots for unchanged objects are reused. This saves lot of db space.

If performance is critical in you case , try to split your big object graph to smaller chunks. Each object in graph means one insert or select

[2015-01-31 16:38] bartoszwalacik commented on #76
Soryy , writing on phone.

is this answer helpful?

[2015-01-31 17:12] ctmay4 commented on #76
On a phone too.

Yes I think I understand.  As I said there are some large objects on the entity that I would like to exclude from JaVers.  Can I tell it during configuration to ignore them?  Once those parts are not included I will be able to better evaluate.

You're comments have been very helpful.  I think the original issue can definitively be closed.  Thanks again.

[2015-01-31 17:25] bartoszwalacik commented on #76
For now you can ignore objects using field/getter annotations @DiffIgnore or @Transient (refer to documentation for details). Are you thinking about another way of configuring ignored objects?

I'll close this issue after release 1.0.5 to maven central

[2015-01-31 23:03] ctmay4 commented on #76
Sometimes you don't have access to the objects to add annotations.  It would be a big improvement if you could programmatically ignore properties.

[2015-02-01 09:09] bartoszwalacik commented on #76
Sounds like a good idea, please submit new issue for this feature

[2015-02-01 13:00] bartoszwalacik commented on #67
what about read ? :)

[2015-02-01 18:15] bartoszwalacik commented on #76
v 1.0.5 released to maven central

[2015-02-01 18:15] #76 closed

[2015-02-01 18:30] ctmay4 opened #94 "Specify ignored properties without annotations"
Currently, you can ignore properties for comparisons using the @DiffIgnore annotation.  There are times when you want to track history for entities which you do not have the ability to annotate.  It would be very helpful if you can programmatically give a list of properties to ignore when committing changes.

[2015-02-01 19:28] bartoszwalacik commented on #94
I can see two ways for solving this problem.

Lets say we have an Entity

[code]

One way is to register a type as ignored. All properties with that type in all classes would be ignored:

`javers().registerIgnoredType(NotInterestingType.class).build();`

Second way (fine grained), register concrete property as ignored:

`javers().registerIgnoredProperty(MyEntity.class, "someProperty").build();`

S

[2015-02-01 20:44] ctmay4 commented on #94
I think I would argue the second solution is superior.  What if my class had 2 properties that returned the same entity.  One I want to track, the other I did not.  Your first solution would not solve that while the second one would.

[2015-02-02 01:43] mantithetical commented on #93
You are right, this is not a javers issue. Closing this.

[2015-02-02 01:43] #93 closed

[2015-02-02 08:30] pawelszymczyk commented on #67
Still some problems with H2 in mem

[2015-02-02 19:29] pawelszymczyk commented on #67
def maxSnapshotPk = SELECT MAX(snapshot_pk) FROM jv_snapshot, jv_global_id, jv_cdo_class WHERE qualified_name = 'org.javers.core.model.SnapshotEntity'  LIMIT 2 OFFSET 0

SELECT type FROM "public"."jv_snapshot" WHERE "public"."jv_snapshot"."snapshot_pk" = maxSnapshotPk

SELECT "jv_commit"."author", "jv_commit"."commit_date", "jv_commit"."commit_id" FROM "public"."jv_commit", "public"."jv_snapshot"

[2015-02-02 19:30] pawelszymczyk commented on #67
btw MAX works fine, it was my mistake ;)

[2015-02-03 11:54] bartoszwalacik commented on #67
- trzeba usunąc limit z zapytań z MAX
- dodać joiny :)

może
Snapshot snapshotRepository getById(int snapshoId)
?

i wtedy Snapshot powinien mieć zbudowany commit i propertisy

[2015-02-04 14:13] axiomabsolute opened #95 "Retrieve full collection on value change within a collection"
__EDIT__: Sorry for the long issue.  Maybe skip to the last paragraph and see if that makes sense on its own, and come back to read all this if you need more details.

Is it possible to retrieve the full collection when a value change occurs on an item within the collection, instead of just reporting the change made to that particular item?  For example, say I have models like a following:

[code]

[2015-02-04 21:46] bartoszwalacik commented on #95
Hi,
I think I understand what do you mean. Well, you always can refer ro changed object (in this case Address) using
http://javers.org/javadoc_1.0.0/org/javers/core/diff/Change.html#getAffectedCdo--

we call it affected (changed) cdo (client's domain object) - Address in your case, did you tried this?

[2015-02-04 22:28] bartoszwalacik commented on #91
hi, I've prepared some unit test but I can't access your repo to push it, could you give me write access ?

[2015-02-05 00:32] mantithetical commented on #91
Done.

[2015-02-05 10:48] bartoszwalacik commented on #91
I've pushed unfinished unit test
https://github.com/mantithetical/javers-hibernate-proxy/blob/master/src/test/java/org/codingpedia/demo/rest/dao/impl/JaversIntegrationTest.java

I'm not in JPA/Hibernate for few yeras, could you help me to configure this test?
I need autowired entityManeger with H2 database

[2015-02-06 16:21] mantithetical commented on #91
Sure, I will take a stab at it shortly.

[2015-02-08 10:44] bartoszwalacik commented on #94
Hi Chuck,
check 1.0.6-SNAPSHOT (from https://oss.sonatype.org/content/repositories/snapshots/)

usage example (Spock):
[code]

[2015-02-08 16:37] ctmay4 commented on #94
Great.  I'll run some tests this week.

[2015-02-09 19:43] ctmay4 commented on #94
I just ran some tests are everything looks good from my end.  One suggestion I would have is that there are currently 2 versions of registerEntity:

[code]

If I want to register an entity but don't care about ignored properties, I have to pass null as the third parameter.  Seems like an easy call through to add

[code]

That is a very minor nitpick and it works fine as it is.

I did come across a

[2015-02-09 19:57] ctmay4 opened #97 "Can list changes be more intelligent"
I have a an entity with a List<List<String>> that I am tracking changes on.  I just tested an Object which has 837 List<String> object

[code]

So removing a single line from the List causes an audit trail of 800+ entries.  Instead, wouldn't it be  better to have this be the result:

[code]

For example, if I put the raw JSON out and delete the line, a command-line diff looks like this:

[code]

N

[2015-02-09 21:55] bartoszwalacik commented on #94
Interesting, we had similar doubts on Code Review, You are right, passing null as an argument is not nice.

I've changed the API to:

[code]
and EntityDefinition has constructors for both cases (with and without ignored properties)

I've just pushed new 1.0.6-SNAPSHOT to Sonatype, check it out.
1.0.6 release will be available in one or two days

[2015-02-09 22:17] bartoszwalacik commented on #97
well, this is the issue concerning nested lists?
I'm aware that JaVers has only basic support for these structures.
You are right that it could produce noisy diffs.

The problem is that I don't know how to model these nested changes in the terms of Change.class
(this is a kind of core JaVers concept).
Maybe you have some suggestions?
What if some user creates `Set<List<String>>` or `List<Set<Strin

[2015-02-10 10:29] efreet007 commented on #67
Hi
When do you plan to implement this feature? Will it work with MS SQL Server?

[2015-02-10 10:56] pawelszymczyk commented on #67
Hi
We use https://github.com/polyjdbc/polyjdbc as rapper under standard JDBC driver, in current version Poly supperts only:
* H2
* PostgreSQL
* MySQL
* Oracle (without limit/offset in SELECT)

if you want to use MS SQL Server it should be implemented in Poly.

[2015-02-10 11:44] bartoszwalacik commented on #67
Pawel wanted to say, that we add MS SQL support to PolyJDBC after we finished
work with this issue. Now we are focused on open databases. Adding support for commercial databases (Oracle, MS SQL) is the next step. Rough estimate for this is 2015.03.

efreet007, would you like to contribute to JaVars and help us with SQL stuff?

[2015-02-10 12:18] efreet007 opened #98 "Track changes in collection. Tracking VO changes while looking at master Entity"
Is it possible to track changes in collection element properties?
For example:

        @Test
        public void shouldTrackSubordinateSalaryChanges() {
            // given:
            Javers javers = JaversBuilder.javers().build();
            Employee bob = new Employee("Bob", 9_000, "Scrum master" );
            bob.addSubordinates(new Employee("Trainee One", 1_000));
            javers.comm

[2015-02-10 15:40] bartoszwalacik commented on #98
Not sure what do you mean. In this example you have ValueChange (salary) but on Trainee not Bob. Why you expect to see it on Bob's change history?

[2015-02-10 15:53] ctmay4 commented on #94
Sounds like a good plan, but the SNAPSHOT has that second registerEntity method as private:

[code]

[2015-02-10 22:15] bartoszwalacik commented on #67
efreet007  please put new issue for MS SQL

[2015-02-10 22:19] bartoszwalacik commented on #94
looks like you have a stale snapshot, nevermind, I've just released 1.0.6 to sonatype, tomorrow morning it will be in maven central

[2015-02-11 08:13] #94 closed

[2015-02-11 08:23] efreet007 commented on #67
Done: polyjdbc/polyjdbc#9
Regarding contribution, I do not promise but I will take a look around

[2015-02-11 08:58] efreet007 commented on #98
Beacuse I want to get Bob's changelog, something like this:

commit 2.0, author: hr.manager, 2015-02-11 09:49:45
  changed object: org.javers.core.examples.model.Employee/Bob
    list changed on 'subordinates' property: [(0).'org.javers.core.examples.model.Employee/Trainee One'
      value changed on 'salary' property: '1000' -> '1200'
commit 1.0, author: hr.manager, 2015-02-11 09:49:45
    new ob

[2015-02-11 14:44] bartoszwalacik opened #100 "MS SQL support in JaversSQLRepository"
reported by https://github.com/efreet007

has to be done after:
https://github.com/polyjdbc/polyjdbc/issues/9

[2015-02-11 14:50] bartoszwalacik commented on #67
efreet007
I've created separeted JaVeres issue for that
https://github.com/javers/javers/issues/100
please put a comment there to receive notifications

[2015-02-11 14:57] bartoszwalacik commented on #98
well, I could think about some solution for that issue if Subordinate was a ValueObject (part of Boss aggregate). ValueObjects are owned by Entities and tracking changes in whole Aggregate (root Entity + ValueObject) makes sense.
Not sure if you are familiar with DDD terminology. Does it make sens in your domain?

[2015-02-11 15:04] bartoszwalacik commented on #95
hope my answers helps, if not, please reopen this issue

[2015-02-11 15:04] #95 closed

[2015-02-11 15:24] bartoszwalacik commented on #85
this issue is duplicate to https://github.com/javers/javers/issues/67
please comment there to subscribe to notifications

[2015-02-11 15:24] #85 closed

[2015-02-11 17:08] pawelszymczyk opened #101 "Add JsonConverter object to DI container in javers-persistence-sql"

[2015-02-11 17:11] pawelszymczyk commented on #101
And next remove setJsonConverter(...)  methods from *Repository.java and *Finder.java, JsonConverter should be provided by constructor

[2015-02-11 17:17] pawelszymczyk opened #102 "N+1 problem in CdoSnapshotFinder"
Probably we should use one query instead of n+1 queries for download CdoSnapshots for given globalId.

Here is link to loop that generates a problem:

https://github.com/javers/javers/blob/%2367_sql_repository/javers-persistence-sql/src/main/java/org/javers/repository/sql/finders/CdoSnapshotFinder.java#L72

[2015-02-11 17:23] pawelszymczyk opened #103 "To-from JSON workaround while creat CdoSnapshot in CdoSnapshotFinder"
All logic of creation CdoSnapshot is in CdoSnapshotTypeAdapter.java, CdoSnapshotFinder should use this code but without Json as input.

https://github.com/javers/javers/blob/%2367_sql_repository/javers-persistence-sql/src/main/java/org/javers/repository/sql/finders/CdoSnapshotFinder.java#L104

[2015-02-11 17:37] pawelszymczyk opened #104 "Update PolyJdbc to 0.5.0-SNAPSHOT"
1. test custom connection provider feature added in 0.5.0
2. If everything ok remove thirdparty classes
3. notify PolyJdbc provider that everything is ok and he can release 0.5.0

[2015-02-11 18:28] pawelszymczyk opened #105 "Measure performance of all queries in javers-peristence-sql"

[2015-02-11 20:00] ctmay4 commented on #97
I don't think altering the data model would help.  I put together another Gist which I track changes on a List<String> to get the nesting out of the test.  The results were the same.

https://gist.github.com/ctmay4/1a328c800b459101d1c4

I basically create list of 100 Strings.  Then I remove the 5th element and add new new elements at the 90th position.

For JaVers, I get the following output:

[co

[2015-02-12 15:30] bartoszwalacik commented on #98
shortly, we don't plan to implement a feature to view a change history of one Entity from another Entity.
Entities are loosely coulped in JaVers, sorry but I can't help you unless you switch this dependant object to ValueObject

[2015-02-13 11:00] efreet007 commented on #98
I've switched dependant object to ValueObject, still no VO changes in changelog.. Am I doing something wrong?

VO:
public class VO {
        private String name;
        private int salary;
        public VO(String name, int salary) {
            this.name = name;
            this.salary = salary;
        }

    public void setSalary(int salary) { this.salary = salary;    }
    public int getSalar

[2015-02-14 11:28] #103 closed

[2015-02-14 12:05] #104 closed

[2015-02-15 15:01] bartoszwalacik commented on #98
Hi, you are doing all right. Maybe I didn't express this issue clearly.
Now when you changed your domain model to Entity (master) + ValueObjects (dependant),
we have to implement in Javers a new feature, to support your use case.

With this feature, you would be able to track changes done on dependant VO while looking at master Entity.

[2015-02-15 15:02] bartoszwalacik commented on #91
hi, any progress in configuring our test?

[2015-02-15 15:08] bartoszwalacik commented on #97
interesting, I'll investigate this issue shortly. Now we are in the middle of huge development in Javers, we are working on SQL repository, so our response times are bit slower, please be patient.

[2015-02-15 15:28] bartoszwalacik commented on #97
Think I got it. The reason why you get such big change list is:

[code]
Since we remove 5'th row, the rows with index 5 and higher are shifted `down`.
So all rows with index greater than 5 got  new index (n-1).
When Javers compares Lists, it pays attention at item index ...

[2015-02-15 15:30] bartoszwalacik commented on #97
You are right, that JaVers could detect such shift and handle it in a more intelligent way

[2015-02-15 19:41] gessnerfl commented on #47
Is this issue still open? I implemented and aspect around save and delete methods on spring data mongo repositories. The aspect will write changes after save or delete was executed successfully.

If you are interested in this I can try to integrate this into you code line and provide a pull request.

[2015-02-16 06:38] bartoszwalacik commented on #47
Hi, issue is implemented and released but not closed due to missing documentation. Would you like to help us in testing this issue and give us some feedback?

[2015-02-16 07:00] pawelszymczyk commented on #47
Hi, here you have PR in which the change came:
https://github.com/javers/javers/pull/81/files

[2015-02-16 08:01] efreet007 commented on #98
Great, I am waiting for this feature

[2015-02-16 08:29] bartoszwalacik commented on #97
as a quick win solution, I can implement `treatListsAsSets` feature.
With this flag enabled, JaVers will compare Lists without paying attention to the item indexes.

Smart list comparing (including shift detection) requires more work.

So is this `treatListsAsSets` feature would be suitable for your case?

[2015-02-16 08:46] bartoszwalacik commented on #72
Paweł, jeśli nic z tym nie robimy, to może zamknij task, bo się dużo tych tasków robi ...

[2015-02-16 08:48] bartoszwalacik commented on #47
see https://github.com/javers/javers/blob/master/javers-spring/src/test/groovy/org/javers/spring/integration/JaversCommitAdviceIntegrationTest.groovy

[2015-02-16 08:49] pawelszymczyk commented on #72
Ale to jest do zrobienia, lepiej niech zostanie.

[2015-02-16 11:05] mantithetical commented on #91
Sorry about the delay; I was traveling. Let me get back to you.

[2015-02-16 16:58] bartoszwalacik commented on #91
No hurry , just checking if this issue is still alive. I think, this feature would be valuable.

[2015-02-16 17:58] gessnerfl commented on #47
I reviewed the pull request. Basically it seems that the implementation is independent from spring data repositories. If class-based annotation is used it seems that a version commit is made on ever method implemented by the given class.
This behavior is not obvious for me. When I think about standard repository implementations usually methods like get* or find* are not relevant in this case. I wo

[2015-02-16 18:01] bartoszwalacik commented on #47
as far as I remenber there is also a method level annotation, which allow
you to select subset of methods.
Pawel, please correct me if I'm wrong

On Mon, Feb 16, 2015 at 6:58 PM, gessnerfl <notifications@github.com> wrote:

[2015-02-16 18:10] gessnerfl commented on #47
This is true but do you think that it is obvious for a library consumer that in the following example a findByName would also result in a version change? Keep in mind that if spring data repositories are used you are not able to user the default repositories out of the box as standard methods like findOne or findAll would also result in version changes.

    @JaversAuditable
    @Repository
    pu

[2015-02-16 18:19] bartoszwalacik commented on #47
Well, I think we didn't tested this with spring-data, but excluding certain method name pattern (like find*) seems like a good idea.

Not sure about this deep dive to MongoOperations. Javers Spring integration should work well also with other repositories, for example we are working now on JaversSQLRepository. So we would like to stay at higher level (close to the domain/repository layer).

So wha

[2015-02-16 18:20] pawelszymczyk commented on #47
Hi

1. Annotations works for custom (non Spring Data) repositories.
2. You can select which methods Javers should follow by adding annotation over method.

e.g:
Here is custom reposiotory:
https://github.com/javers/javers/blob/master/javers-spring/src/test/java/org/javers/spring/integration/ProjectRepository.java

and here is test using this repo:
https://github.com/javers/javers/blob/master/javer

[2015-02-16 18:23] bartoszwalacik commented on #47
@gessnerfl give us a while, we need some time for internal discusion ...

[2015-02-16 18:41] bartoszwalacik commented on #47
@gessnerfl
ok, our proposed solution is:

We can add spring-data support fo JaVares as follows:

New class-level annotation, to be placed on standard spring-data interfaces.
@JaversSpringDataAuditable

This annotation could be aware of spring-data naming convention and
could configure auditing aspect to wrap only data-altering methods:
save(), delete(), update().

Is this solution suitable for you

[2015-02-16 18:51] gessnerfl commented on #47
That sounds fine for me. I was just a bit confused because this ticket states support for spring data repositories but would result in a strange behavior.
Your proposed solution would now provide the option for both
 - easy to use spring-data-repositories
 - freedom and openness for custom repositories.

[2015-02-17 00:06] ctmay4 commented on #97
It would possibly help, but I have not seen how Sets are handled.  I assume this would be based on element equality?  What if I have a Set<String> with values

[code]

How would it report the second "1" being removed?  For my personal use-case there may be duplicates.

Once I get back to my office I will take a list at Set handling and let you know.  Thanks again.

[2015-02-17 14:03] bartoszwalacik commented on #97
Yes, this simple `treatListsAsSets` solution would work well only for lists without duplicates.

I'm working on more intelligent algorithm for comparing lists, but it may take a while.
There would be performacne issues.
The main idea is to treat lists as queues, preserve ordering, but forget about exact values of item indexes.

[2015-02-17 19:37] szpak commented on #72
Btw, chcecie się przenieść z paczkami do Bintray/jCenter całkowicie, czy tylko mieć je również tam (oprócz Maven Central) dostępne?

[2015-02-18 06:50] bartoszwalacik commented on #72
Maven Central to must have. Bintray da nam wieksza automatyzacje bo teraz wdrazamy klikajac w nexusa Sonatype. Czyli artefakty bylyby tu I tu

[2015-02-18 06:53] bartoszwalacik commented on #72
Btw jesI masz chec na kontrybucje do javersa to cos znajdziemy, pozdr

[2015-02-18 08:50] #37 closed

[2015-02-18 08:50] #44 closed

[2015-02-18 09:02] pawelszymczyk commented on #47
@gessnerfl now we have a lot of things to do around sql repository, maybe you can provide some implementation of this issue?

[2015-02-18 09:50] szpak commented on #72
Zastanawiało mnie, czy tylko chcecie, aby artefakty z Centrala były dostępne również w jCenter (co swoją drogą dzieje się automatycznie), czy coś więcej. W kwestii wdrażania to niestety muszę  się zgodzić - historycznie lubię Sonatype OSS i Maven Central, ale w przypadku Nexusa i Gradle nie znam rozwiązania, które by to zapewniło (np. gradle-nexus-plugin wymaga dodania [tego](https://github.com/bm

[2015-02-18 16:28] eladh commented on #98
Hi .

let me understand :

if i have an Object like EntityConn  and the following Object is @Entity with @Id (javax.persistence) :
I cannot track changes of the children by looking at the EntityConn  root object ?
is this behavior is for every Entity (in this example - will i be able to track endRuleMD changes from the entityConn ? (RuleMD  is also is @Entity with @Id) .

[code]

So - i need to do

[2015-02-18 17:56] gessnerfl commented on #47
I will try to provide a pull request for this. For my implementation I used AspectJ but I will migrate it to an BeanPostProcessor.
There is only one issue related to object deletion. Spring repositories allow to delete objects by ID. From the javers api it is not 100% clear if commitShallowDelete(String author, Object object) also works if the object is not the object instance but an GlobalIdDTO.

[2015-02-18 18:15] bartoszwalacik commented on #72
zależy nam na Maven Central bo to jest standard w światku Java, co do uploadu do jCentral to nie mam zdania, pewnie nie zaszkodzi ale krytyczny jest Maven Central. Rozmawiałem ostatnio ze Szczepanem, że w Mockito mają ładnie zautomatyzowany Gradlem cały flow wdrożeniowy przez Bintray. Nie znam szczegółów.

Anyway jeśli masz sposób jak zrobić release do Maven Central przez 1 polecenie gradle/Travis

[2015-02-18 19:01] bartoszwalacik commented on #47
@gessnerfl, great! Give us a notice if you need some support while working on the PR (persmissions, etc). We write tests in Spock and we are crazy about TDD.

Concerning object delete, you are right. Currently you commit deletion only using object instance. I'll implement a method allowing deletion by GlobalId

[2015-02-18 20:14] mantithetical commented on #91
Done. You should now see the following error when you run that test.
[code]

[2015-02-18 20:18] szpak commented on #72
Bezpośrednie wrzucanie do Centrala nie działa przez [brak](https://github.com/bmuschko/gradle-nexus-plugin/issues/40) wsparcia w gradle-nexus-plugin. Mi też tego brakuje, ale tam trzeba mocno operować na REST i JSON, a Benjamin nie chce, aby implementacja używała HTTPBuildera, ani innych zalezności, więc raczej nie będę tego implementował w najbliższym czasie.

Bintray plugin od wersji 1.0 [wspier

[2015-02-19 10:51] bartoszwalacik commented on #47
https://github.com/javers/javers/pull/108

[2015-02-19 15:17] bartoszwalacik commented on #72
dzięki, pójdziemy w tą stronę, w razie czego będziemy się zgłaszać po wsparcie

[2015-02-19 19:20] juki opened #109 "Unsupported major.minor version 51.0 (unable to load class org.javers.core.JaversBuilder)"
Hello, I am trying to use Javers on Java 6 but this is happening:

java.lang.UnsupportedClassVersionError : org/javers/core/JaversBuilder : Unsupported major.minor version 51.0 (unable to load class org.javers.core.JaversBuilder)

Is it possible to use Javers on Java 6 or only Java 7 and up?

Thank you!

[2015-02-19 19:23] bgalek commented on #109
Sorry my friend, javers won't work with java6. I suggest you to move to
java7/8 world!
19 lut 2015 20:20 "juki" <notifications@github.com> napisał(a):

[2015-02-19 19:27] juki commented on #109
I would love to move, stuck on bureaucracy. Will have to look for other solutions. Thanks anyway!

[2015-02-19 20:48] #109 closed

[2015-02-20 07:46] bartoszwalacik commented on #85
@igler
JaversSqlRepository beta is available for testing
see version 1.0.7-SNAPSHOT
in https://oss.sonatype.org/content/repositories/snapshots/

[2015-02-20 07:48] bartoszwalacik commented on #85
config example:
[code]

[2015-02-20 07:50] bartoszwalacik commented on #67
@efreet007
JaversSqlRepository beta is available for testing
see version 1.0.7-SNAPSHOT
in https://oss.sonatype.org/content/repositories/snapshots/
for now there is support for H2, MySql and Postgres

[2015-02-20 07:53] bartoszwalacik commented on #67
config example
[code]

[2015-02-20 08:39] Kornel commented on #97
I'll add an implementation based on finding the min Levenshtein distance. I've got an POC algorithm  ready which is both space and running time O(nm), where n and m is the length of list1 and list2 respectively. This can be optimised to be O(n) space and O(nm) time, will do a PR soon.

[2015-02-20 10:36] bartoszwalacik commented on #98
Hi @eladh,
Javers treats Entities as independent beeings. To see the history of an Entity instance, you need to query by its Id.

So for example if you have two entities A and B, connected by the reference:
A->B

When B changes its state to B'
A->B'
you need to query by B.id to see this change.

What you can see from the A point of view is the reference change (when changed from A->B to A->C).

Wh

[2015-02-20 10:40] bartoszwalacik commented on #98
@efreet007, we will start working on this feature after delivering SQLRepository https://github.com/javers/javers/issues/67, which is almost done and available as Snapshot (requires some testing)

[2015-02-20 12:15] bartoszwalacik commented on #101
nie mam pomysłu jak to poprawić bez komplikowania, w stylu
wprowadzenie dziedziczenia kontenerów Pico,
 dopóki te settery są ukryte przed użytkownikiem to nie ma dramatu, Wont FIX

[2015-02-20 12:15] #101 closed

[2015-02-20 12:29] igler commented on #67
Is it possible to use Hibernate Envers in combination with JaVers? Envers can track changes though annotating the classes with

<code>@Audited(withModifiedFlag = true)</code>

 The idea is to pull the changes from the _AUD tables?

[2015-02-20 14:56] bartoszwalacik commented on #67
@igler so envers cant calculate diffs on its own?

[2015-02-20 17:14] igler commented on #67
Unfortunately not. You only get a list of revisions by spring-data-envers. So you have to find out the deltas on your own. The idea was if I can submit a list of revisions to JaVers and get a nice JSON-history back?

[2015-02-20 19:25] bartoszwalacik commented on #67
@igler maybe we move this new envers thread to a new issue, titled 'javers envers integration'?

Your idea sounds good, we can think about read-only JaversRepository implementation (see https://github.com/javers/javers/blob/033fe77817052e4ec71b9014f676c5bfa478cbc8/javers-core/src/main/java/org/javers/repository/api/JaversRepository.java), which would read object snapshots from envers tables.
Are y

[2015-02-21 17:16] igler opened #112 "JaVers / Hibernate Envers integration"
Using https://github.com/spring-projects/spring-data-envers, annotating entities with <code>@Audited</code> and the repository (in this case for entity <code>Location</code>) extending <code>RevisionRepository&lt;Location, Long, Integer></code> will give you the possibility to track changes automatically by Hibernate Envers. I implemented a controller which looks like this:
<pre></code>@Slf4j
@Con

[2015-02-21 17:17] igler commented on #67
OK, moved the discussion to https://github.com/javers/javers/issues/112.

[2015-02-24 09:48] tokninski opened #117 "Unclear documentation"
Instructions how to create own custom comparators are unclear: http://javers.org/documentation/configuration/#custom-comparators
There is no info what to return when there is no difference between the two values.

A complete example would also be helpful

[2015-02-25 13:38] bartoszwalacik commented on #117
will do

[2015-02-25 16:09] mantithetical commented on #91
Hey there, any progress on this? Is there anything I could help with?

[2015-02-25 19:19] bgalek commented on #91
I'm researching this problem right now ;) Need to have one two free evening and I'll make pull request :) thx for beeing ready to help :+1:

[2015-02-25 21:28] #105 closed

[2015-02-25 21:30] bartoszwalacik commented on #105
done, see SqlPerformanceTest, tabela properties usunięta, brakujące indeksy dodane, ilość zapytań po global_id ograniczona o ponad połowę, czekamy jeszcze na https://github.com/polyjdbc/polyjdbc/issues/12 ale to nie jest bloker

[2015-02-25 21:32] bartoszwalacik commented on #102
problem n+1 zapytań został zlikwidowany

[2015-02-25 21:32] #102 closed

[2015-02-25 21:35] bartoszwalacik commented on #91
@bgalek when come up with working version, we can release it as snapshot and get feedback from @mantithetical

[2015-02-26 18:18] mantithetical opened #118 "API to get change history for a given property"
It would be nice to provide a method to get change history of an instance id for a given property.

[2015-02-27 08:27] bartoszwalacik commented on #47
@gessnerfl, thanks for contribution, new version of javers-spring-integration is released in v 1.0.7

[2015-02-27 08:27] #47 closed

[2015-02-27 08:41] gessnerfl commented on #47
No problem. Was a lot of fun for me and first time using Spock - and I really like it ;)

[2015-02-27 21:22] bartoszwalacik commented on #112
Well, so you need to change how JaVers serializes Diffs to JSON?

what kind of DB you are using? Maybe you could try our new JaversSqlRepository and use JaVers instead of envers todata versioning?

[2015-02-27 23:05] bartoszwalacik commented on #117
added full example for BigDecimals, see http://javers.org/documentation/configuration/#custom-comparators

[2015-02-27 23:05] #117 closed

[2015-02-28 08:37] igler commented on #112
Yes, is there are way to influence serialization?

I am using MySQL.

Sure, why not. Is there a better serialization/invidualization support? At the moment I use JaVers by including:

<pre><code>&lt;dependency>
    &lt;groupId>org.javers&lt;/groupId>
    &lt;artifactId>javers-core&lt;/artifactId>
    &lt;version>${javers-core.version}&lt;/version>
&lt;/dependency>
</code></pre>

What do I have to

[2015-02-28 09:01] bartoszwalacik commented on #67
@efreet007, @igler, JaversSqlRepository is done and released as 1.1.0-RC1.
It would be nice if you test it and give us some feedback before final 1.1.0 release

[2015-02-28 09:14] bartoszwalacik commented on #112
You can influance JSON serlialization using custom TypeAdapters. See http://javers.org/documentation/configuration/#custom-json-serialization.
But i'm affraid that cdoClass (part of global identifier of domain object) is a must have.

Since you are using MySQL, it's a opportunity to check out our two brand new features:
SQLRepository and Spring Integration

Import this two new modules:
compile 'or

[2015-02-28 09:20] bartoszwalacik commented on #112
with this approach, you can forget about envers, and deletage all data versionning work to JaVers

[2015-02-28 17:30] igler commented on #112
Do you know how to get the ConnectionProvider in a spring-boot environment with java-config?

[2015-03-01 09:28] bartoszwalacik commented on #112
give me a while, SpringJpaConnectionProvider will be added to javers-spring

[2015-03-02 08:44] pawelszymczyk commented on #72
review pls

[2015-03-02 08:51] bartoszwalacik commented on #112
well, this is a bit tricky, but I've figured it out, connection provider will be included in 1.1.0-RC2, which sould appear in maven central today evening, stay tuned ..

[2015-03-02 09:27] igler commented on #112
Thanx, will let you know how it goes... BTW, does JaVers creates separate auditing tables similar to Envers where it stores data?

[2015-03-02 23:37] eladh commented on #98
thanks :-)

[2015-03-03 15:52] anassBo commented on #59
Hi,

can you please tell me how to run javers on jdk 5.0.
i am working on an existing project that is already build with jdk5.0 and we want to add data audit functionnality.

thanks a lot for your response

[2015-03-03 16:20] bgalek commented on #59
We're sorry but javers supports only jdk 1.7 and above. We hope that you
will upgrade to java 8 soon :)
3 mar 2015 16:52 "anassBo" <notifications@github.com> napisał(a):

[2015-03-03 23:19] bartoszwalacik commented on #112
yes, Javers creates 4 tables to store commits metadata and user object snapshots

[2015-03-03 23:29] bartoszwalacik commented on #72
jest na to PR?

[2015-03-04 06:58] igler commented on #112
Thanx for the info. BTW 1.1.0-RC2 is not available yet so I can't test at the moment.

[2015-03-04 09:06] pawelszymczyk commented on #72
był ale zamknąłem, wprowadziłem kilka poprawek i otworzyłem jeszcze raz:
https://github.com/javers/javers/pull/122

[2015-03-04 12:21] bartoszwalacik commented on #112
Right, still workIng on it

[2015-03-06 21:32] bartoszwalacik commented on #112
Hi, javers 1.1.0-RC2 is released,
plese refer to http://javers.org/documentation/spring-integration/#jpa-transaction-manager-integration
for details about new JpaHibernateConnectionProvider.

waiting to hear feedback from you

[2015-03-07 17:42] igler commented on #112
Having a configuration where tables are created. But I get an exception on one of my tests:
<pre><code>2015-03-07 18:07:35,608  INFO d.e.eip.location.LocationRepositoryIntegrationTest:  26 - Creating locations...
2015-03-07 18:07:36,092  INFO         org.javers.core.metamodel.type.TypeFactory:  42 - javersType of [Location] inferred as EntityType
2015-03-07 18:07:36,094  INFO         org.javers.co

[2015-03-07 22:19] bartoszwalacik commented on #112
well, suppose You are using java8?

First issue, new Java8 date types are fine, but Javers is written in Java7 because we want to support users who didn't switched form Java7 to Java8 yet.

So for now, there is no built-in support for new Java8 date types. As a quick solution you can write JSON TypeAdapters for each date type,
see http://javers.org/documentation/repository-examples/#json-type-adap

[2015-03-08 09:59] igler commented on #112
Yes, using Java 8 in my development branch/project. The Maven imports I use are:
<pre><code>&lt;dependency>
    &lt;groupId>org.javers&lt;/groupId>
    &lt;artifactId>javers-core&lt;/artifactId>
    &lt;version>1.1.0-SNAPSHOT&lt;/version>
&lt;/dependency>
&lt;dependency>
    &lt;groupId>org.javers&lt;/groupId>
    &lt;artifactId>javers-spring&lt;/artifactId>
    &lt;version>1.1.0-SNAPSHOT&lt;/vers

[2015-03-08 18:01] bartoszwalacik commented on #112
I need more data, there is sth wrong with your Entity identifiers.

Please refresh 1.1.0-SNAPSHOT at your side and run your test with debug:
 <logger name="org.javers.core.json.typeadapter" level="DEBUG" />

[2015-03-09 08:26] igler commented on #112
Log-output is now:
<pre><code>2015-03-09 09:24:17,554  INFO d.e.eip.location.LocationRepositoryIntegrationTest:  26 - Creating locations...
2015-03-09 09:24:18,033  INFO         org.javers.core.metamodel.type.TypeFactory:  42 - javersType of [Location] inferred as EntityType
2015-03-09 09:24:18,035  INFO         org.javers.core.metamodel.type.TypeFactory:  37 - javersType of [class de.forward-tech

[2015-03-09 20:58] bartoszwalacik commented on #112
ok, as I supposed, the problem is in invalid maping of Java8 LocalDateTime and ZonedDateTime.
Javers doesn't know them (because it's written in Java7) and maps them to wrong types (ValueObject instead of Value).

[2015-03-09 21:07] bartoszwalacik commented on #112
for now, the only solution is to fork javers-core project into javers-core7 and javers-core8.
Give me some time to rethink it ...

[2015-03-09 21:16] bartoszwalacik commented on #112
btw, does Hibernate support new Java8 date types?

[2015-03-10 06:19] igler commented on #112
I am doing persistence with some support from jadira:
<pre><code>...
@CreatedDate
@Column(name = "created", insertable = true, updatable = false)
@Type(type = "org.jadira.usertype.dateandtime.threeten.PersistentZonedDateTime")
private ZonedDateTime created;
...
</code></pre>

So I will try to write a custom json-type-adapter. Will let you know how it goes...

[2015-03-10 08:13] bartoszwalacik commented on #112
I'm thinking about crating  a new javers modeule called
javers-java8-time-support
this module would be compiled to java8 and would contain JsonTypeAdapters for new java.time types.

It would be the good place to put JsonTypeAdapters written by you.

[2015-03-10 08:14] bartoszwalacik opened #126 "Support for java8 java.time.* date types"

[2015-03-10 08:16] bartoszwalacik commented on #126
requested by @igler :

Now, Java8 LocalDateTime and ZonedDateTime types are mapped by javers as ValueObjects. This leads to errors. These types should be natively supported by Javers as Value types.

[2015-03-10 08:17] bartoszwalacik commented on #112
created a new issue for that https://github.com/javers/javers/issues/126

[2015-03-10 14:13] igler commented on #112
Thanx. Thinking about using a different representation for dates:

https://github.com/maxcellent/lamma/issues/5#event-217086812

Not sure yet. Lamma has the opportunity to generate schedules very easy. The author suggests to implement a custom Hibernate type (string) in order to persist lamma dates.

[2015-03-10 15:06] igler commented on #112
Have started writing a <code>JsonTypeAdapter</code> for <code>ZonedDateTime</code>. Please tell me if it makes sense?
<pre><code>public class ZonedDateTimeJaversTypeAdapter implements JsonTypeAdapter {

    @Override
    public ZonedDateTime fromJson(JsonElement jsonElement, JsonDeserializationContext jsonDeserializationContext) {
        return ZonedDateTime.parse(jsonElement.getAsString(), DateT

[2015-03-10 16:08] igler commented on #112
I have written a request mapping in location-controller which looks like this:
<pre><code>@RequestMapping(value = LocationLinks.CHANGES, method = RequestMethod.GET)
HttpEntity<List<Change>> getRevisions(@PathVariable("id") Location location) {

    List<Change> changes = javers.getChangeHistory(InstanceIdDTO.instanceId(location.getId(), Location.class), 10);

    return new ResponseEntity<>(change

[2015-03-11 21:19] bartoszwalacik commented on #112
yeah,
take a look at http://javers.org/javadoc_1.1.0/org/javers/core/diff/Change.html#getAffectedCdo--
You get exception when calling getAffectedCdo() for a diff, which is re-calculated from persisted snapshots.

So it works as designed, but I see that could be little confusing, I should change this method to:
`Optional<Object> getAffectedCdo();`

Your type adapter looks fine.

Btw. If you are ser

[2015-03-11 22:06] bartoszwalacik commented on #97
@ctmay4, we have created smart list compara algorithm, based on Levenshtein distance.
It calculates smart diffs but could be slow for huge lists, how many elements you have in your lists usually?

[2015-03-12 13:02] ctmay4 commented on #97
The tables are usually really small (< 50 rows).  We have a few tables that get as high as 4000 rows.

[2015-03-13 16:17] #89 closed

[2015-03-14 08:56] igler commented on #112
Should I change something in my code or do you submit an updated snapshot so the error resolves?

[2015-03-14 10:50] bartoszwalacik commented on #67
released in v. 1.1.0

[2015-03-14 10:50] #67 closed

[2015-03-14 10:54] bartoszwalacik commented on #112
Try using `javers.getJsonConverter()` to JSON serialization/deserialization.

I've just released javers v. 1.1.0, check it out, closing this issue, if there are still some problems with sql repository, please sumbit it as a new issue.

[2015-03-14 10:54] #112 closed

[2015-03-14 15:09] igler commented on #112
Everything is fine now. Just for the sake of completeness:
<pre><code>@RequestMapping(value = LocationLinks.CHANGES, method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
HttpEntity&lt;String> getRevisions(@PathVariable("id") Location location, @RequestParam(required = true) final int size) {

    String changes = javers
        .getJsonConverter()
        .toJson(javers.

[2015-03-14 20:50] bartoszwalacik commented on #97
great, so the new algorithm will be fine for you, i'am doing the release ...

[2015-03-14 20:56] bartoszwalacik commented on #112
Good to hear! Give as a star if you like JaVers
https://github.com/javers/javers/stargazers

[2015-03-15 09:14] igler commented on #112
For sure...

[2015-03-16 12:02] bfeater opened #127 "Problem with inheritance?"
I tried out JaVers (version 1.1.0), but encountered a problem. Comparing a property with a value of different subclasses leads to an IllegalArgumentException. Is this intended behaviour?

Example to reproduce the exception:

[code]

[2015-03-16 18:58] bartoszwalacik commented on #127
Looks like a bug, will check it out

[2015-03-16 20:37] bartoszwalacik commented on #72
może nie potrzebujemy Bintray tylko https://github.com/Codearte/gradle-nexus-staging-plugin/ ?

[2015-03-16 21:07] szpak commented on #72
Jednak trafił mi się wolny weekend i zrobiłem ten plugin. W rezultacie można bez klikania robić release w Nexusie do Centrala. Minusem jest, iż [micro-common-release](https://github.com/4finance/micro-common-release) obecnie wspiera tylko Bintray, więc logikę sami musielibyście dopisać, ale z drugiej strony wtedy więcej "zabawy" byście mieli :).

[2015-03-16 21:12] szpak commented on #72
Btw, jakbyście chcieli zostać ze "starym" pluginem `maven` do wypychania paczek to możecie spojrzeć też na [gradle-nexus-plugin](https://github.com/bmuschko/gradle-nexus-plugin/), który trochę upraszcza definiowanie repozytoriów.

[2015-03-17 05:32] bartoszwalacik commented on #97
JaVers 1.1.1 is released, use the new Levenshtein algorithm for comparing lists,
http://javers.org/documentation/diff-configuration/#list-algorithms

[2015-03-17 05:32] #97 closed

[2015-03-18 14:16] igler opened #128 "Changes of a set of entities"
Currently I get the changes (limited by 10) of a certain entity (location) by calling...
<pre><code>javers.getChangeHistory(InstanceIdDTO.instanceId(location.getId(), Location.class), 10);
</code></pre>

Is there a way to get all changes of all locations (also with limit and maybe ordered by date)?

[2015-03-18 17:31] AzraelCole opened #129 "lists: newObject and ValueChange?"
Hi,

I have a problem with changes that are made on objects within a list.
Assumption: There is an object with a  list of other objects. Then an element of the list is removed and later two new elements are added.
Now a ValueChange is fired and a NewObject.
The ValueChange gives me the differences (prop1value -> prop2value), but the NewObject only says "hello, I am new".

For a consistent presenta

[2015-03-18 20:07] eladh opened #130 "CLASS_NOT_MANAGED error in 'java.util.ArrayList'"
Hi.

we getting errors about CLASS_NOT_MANAGED  exceptions .

is there default support for collections ?

we are using Java Map/Set/Array Impl's and also Google MultiMap

do we need to provide some kind of custom serializer ?

10x

exception is JaversException: CLASS_NOT_MANAGED JaVers runtime error - given javaClass 'java.util.ArrayList' is mapped to ListType, ManagedType expected
	at org.springf

[2015-03-18 20:26] #130 closed

[2015-03-18 20:27] eladh commented on #130
hi ,

after registering with
builder.registerValueObject  i got the proper result

10x :+1:

[2015-03-18 21:06] eladh opened #131 "Javers Enhancements"
Hi :-)

is there any chance Javers look for Entity @Id  at method level and not just at field level ?

also - is there any way to retrieve the original object from taken as a snapshot from the History

as far as i got is  :
javers.getStateHistory(InstanceIdDTO.instanceId("21959", EntityConn.class),10).get(0).getGlobalId().getCdoClass().getProperties()

is there any way to convert the CDO back the

[2015-03-18 21:44] pawelszymczyk commented on #131
Hi

It is possible to place annotations at method level. Javers has property named [MappingStyle](https://github.com/javers/javers/blob/b523a05b64b86631ab9fd01da4616f6518590087/javers-core/src/main/java/org/javers/core/MappingStyle.java) , there are two options: MappingStyle.FIELD and MappingStyle.BEAN, when using BEAN style, JaVers accesses object state by calling getters. MappingStyle.FIELD is u

[2015-03-18 21:57] pawelszymczyk commented on #131
For the second question: currently there is no possiblity to retrive original object or converte it from CDO. We considered about this feature, it is very interesting and usefull but not trivial. Can you create independent issue for it or even better try to provide some implementation?

[2015-03-18 22:34] pawelszymczyk commented on #129
Hi

For the second question:
There is possible to detect that cat was removed, your ```Pet.class``` has field ```id``` so probably it is [Entity](http://javers.org/documentation/domain-configuration/#entity), I sugesst to put the [Id](https://github.com/javers/javers/blob/master/javers-core/src/main/java/org/javers/core/metamodel/annotation/Id.java) annotation over that filed, as below:

[code]

t

[2015-03-18 22:49] pawelszymczyk commented on #129
For now short answer is to use:

[code]

but i think there is not exacly what you expect, im going to think about it tomorrow :)

[2015-03-18 22:54] pawelszymczyk commented on #128
Currently Javers hasn't suitable method in api, i think this issue is corresponded with: #36

[2015-03-19 05:13] bartoszwalacik commented on #130
no problem :)

[2015-03-19 05:16] bartoszwalacik commented on #131
sugested issue title 'Restore orginal domain object from persisted snapshot'

[2015-03-19 05:22] bartoszwalacik commented on #72
@szpak a patrzyłeś na nowy https://github.com/Codearte/gradle-nexus-staging-plugin/ by Codearte?

[2015-03-19 05:29] bartoszwalacik commented on #129
Gents, there is the flag, which does exactly that job
`JaversBuilder withNewObjectsSnapshot(true);`
shoud be described in the /documentation ..

@AzraelCole could you confirm if it solves your issue?

[2015-03-19 07:13] igler commented on #36
Any plans when this feature will be implemented?

[2015-03-19 07:32] AzraelCole commented on #129
Thanks for your replies.
Unfortunately my problem was not solved:

In my example the field "id" is not an database id (bad example, sorry), only a number that shall be ignored (I do not have entities, but simple domain objects).
Anyway I played around with that annotation combined with the
[code]
Adjustments in Pet class:
[code]

now the code
[code]

produces the output:
[code]

The last block "re

[2015-03-19 08:05] bartoszwalacik commented on #129
Could you please distill this issue as a small project with a failing test and push it to
the github?

[2015-03-19 08:07] bartoszwalacik commented on #36
looks like a JQL is a most wanted feature now, so we do it as a next step.
(before MSSQL and Oracle). Think a fair promise is end of April

[2015-03-19 08:09] igler commented on #36
Sounds good! Looking forward to test this feature.

[2015-03-19 09:35] eladh opened #132 "Unable to work with Google Collections - SetMultimap"
Hi.

as a first setup i need to investigate changes on complex Aggregator MD object graph.

one of the data structures is Google Collections - SetMultimap  and when i start the Javers  JaversBuilder i got the following error :

given javaClass 'com.google.common.collect.AbstractMultimap$WrappedSet' is mapped to SetType, ManagedType expected

after registering the inner  we getting error in BeanBas

[2015-03-19 09:43] szpak commented on #72
Patrzy�em. A czy Ty patrzyles, kto napisa� ten plugin by Codearte? :-)

[2015-03-19 09:44] eladh opened #133 "Restore orginal domain object from persisted snapshot"
Currently there is no possiblity to retrive original object or converte it from CDO.
In order to produce some kind of POJO based version management Eco-system we must be able to retrieve the original POJO.

Generally speaking i would love to see Javers  with version management API like :
1. Retrieve the Original POJO
2. Merge Operation => with Updated/Conflict status
3. Restore Object to X version

[2015-03-19 11:08] eladh commented on #132
error :

Caused by: java.lang.StringIndexOutOfBoundsException: String index out of range: 3
	at java.lang.String.substring(String.java:1907)
	at org.javers.common.reflection.ReflectionUtil.isGetter(ReflectionUtil.java:100)
	at org.javers.common.reflection.ReflectionUtil.isPersistentGetter(ReflectionUtil.java:83)
	at org.javers.common.reflection.ReflectionUtil.findAllPersistentGetters(ReflectionUti

[2015-03-19 22:36] eladh commented on #132
hi

the issue here :

what if the method name is just "is" , then you will get the following exception

   public static boolean isGetter(Method m) {
        return (m.getName().substring(0,3).equals("get")  ||
                m.getName().substring(0,2).equals("is") ) &&
                m.getParameterTypes().length == 0;
    }

[2015-03-20 05:08] bartoszwalacik commented on #72
wow, teraz widzę, no nie skojarzyłem :) wygląda na to że to jest plugin, którego potrzebujemy :)

[2015-03-20 05:11] bartoszwalacik commented on #72
wepnę go przed następnym release do Sonatype

[2015-03-20 05:19] bartoszwalacik commented on #131
moved to https://github.com/javers/javers/issues/133

[2015-03-20 05:19] #131 closed

[2015-03-20 05:23] bartoszwalacik commented on #132
JaVers do not support Guava collection types out-of-the-box.
Take look at http://javers.org/documentation/diff-configuration/#custom-comparators
this is know issue

We need a set of custom-comparators for Guava collection types, you can write it and then we encourage you to contribute this to JaVers

[2015-03-20 22:08] bartoszwalacik commented on #127
There is no bug here, but indeed, error message is misleading. It will be fixed in the next release to TYPE_MISMATCH error

What you are doing here is comparing objects with different types.
You cannot compare B0 instance with B1 instance because they have different fields.

Field `String b0` is not connected to `String b1` despite the same type (`String`).
It will work only if you abstract the fi

[2015-03-22 16:12] bfeater commented on #127
Do you really mean that? Perhaps another example will make the problem clear

class Store {
  List<Bicycle> bicycles;
}

class Bicycle {
  int speed;
}

class Mountenbike {
  int seatHeight;
}

...
Store store0 = new Store();
store0.bicycles = new ArrayList<>();
store0.bicycles.add(new Bicycle());

Store store1 = new Store();
store1.bicycles = new ArrayList<>();
store0.bicycles.add(new Mountenbike

[2015-03-22 16:55] bartoszwalacik commented on #127
Could you please push a mini-project to github  with a failing test?

[2015-03-22 18:59] bfeater commented on #127
I have created a small example. In the test I have added a comment with my expected result.

https://github.com/bfeater/javers_inheritance_test

[2015-03-23 12:12] akarmazin commented on #133
1) For retrieving the original POJO as a quick and dirty solution you could use the class below (or something similar).
see loadLatestEntityState() or loadEntityStateFromSnapshot() or loadEntityStateForCommitId()
However, as for now this solution has some restrictions (see class level comments).
2) For analyzing the conflict status you has to remember the commitId (and/or @Version value if exists)

[2015-03-23 20:40] bartoszwalacik commented on #127
ok, will take a look

[2015-03-23 21:03] bartoszwalacik commented on #127
in the 1.1.2-SNAPSHOT, you will get better exception desc:

`JaversException: TYPE_MISMATCH JaVers runtime error - Looks like you are comparing two objects with different types. There is no property 'seatHeight' in type 'Bicycle'.`

the clue is the same, we don't know how to compare Bicycle with Mountainbike.
If the number of gears (common field) is different, that is clear that objects are differ

[2015-03-23 21:10] bartoszwalacik commented on #127
In fact, when you start adding fields to a subclass, it's not possible to write valid equals(), without breaking Liskov Principle. Try to write a valid equals() for both classes (Bicycle with Mountainbike), I mean reflexive, symmetric, transitive and consistent. Imho it's not possible.

[2015-03-23 21:26] bartoszwalacik commented on #133
well, the bigest problem when we try to restore objects from JaversRepository are references.
Restoring a simple ValueObject is relatively easey, but usually we have a object graph. When you restore one node, you may want to follow references to other objects.
This requires tricky lazy-loading proxies like those in Hibernate ... lot of work

[2015-03-29 15:18] dggit opened #135 "Javers - MongoDb - JaversException: CLASS_NOT_FOUND"
Hello,
First thanks for this wonderful tool !

I am trying to link MongoDb with Javers on a model called Property.
(I am using play framework Java)

Here is my class :
public class Property extends IdObjectId  {

    public Property(){
        this.stateFields = new StateFields();
        this.searchFields = new PropertySearchFields();
        this.matchingFields = new MatchingFields();
    }

[2015-03-29 16:43] bartoszwalacik commented on #127
I can think about simple solution, when comparing two ValueObjects, Javers would say *not equals* if these two objects have different number of fields. What do you think about that? Would it solve your issue?

[2015-03-29 16:52] bartoszwalacik commented on #135
Hello friend, this CLASS_NOT_FOUND looks really strange.
I will help you but I need to reproduce this exception. Please distill this issue as a small project with a failing test and push it to
the github.

[2015-03-29 16:59] dggit commented on #135
Ok i try to create new project with the issue as soon as i have a moment.
Thanks for super fast answer.

Cordialement,
*Dara Ghazanfari*
*06 59 11 01 35*

On Sun, Mar 29, 2015 at 6:52 PM, Bartosz Walacik <notifications@github.com>
wrote:

[2015-03-29 21:56] bartoszwalacik commented on #129
Hi, sorry, I gave you wrong answer.

`JaversBuilder.withNewObjectsSnapshot(true)` doesn't solve the problem

You are right that when you are querying for changes, you don't get the *initial change* connected to `NewObject`. In fact it's not a real change but let's say: value creation.
It could be represend as a change from null to initial value ...

[2015-03-31 06:59] bfeater commented on #127
In my opionion both equals() methods (Bicycle and Mountainbike) are correct. When the objects are not of the same class, equals() returns false. And I think Javers should behave in the same way. Objects of different classes - also they have equals global ids - cannot be equals.

[2015-04-02 12:29] bartoszwalacik commented on #129
think I will add this feature (lets call it 'initial value at change history') in v 1.2

[2015-04-02 12:40] bartoszwalacik commented on #127
In fact, JaVers doesn't use users' equals() methods for ValueObjects. JaVers compares ValueObjects field-by-field. Personally I prefer using `instanceof` instead of getClass(), as it does less harm to Liskov Principle. But it does realy matter here

I can change ValueObject comparing algorithm in that way, that it would retrun false when both object have different set of properties. This would sol

[2015-04-02 14:18] bfeater commented on #127
Sure, this would solve my problem.

But in case someone wants to compare two objects having different
classes but same set of properties, he would ran into the same problem.
So I would really suggest to compare the classes of two value objects.
When the classes are equal, it's guaranteed that both objects have the
same set of properties.

[2015-04-02 15:30] bartoszwalacik commented on #127
dont worry, new impl would be type-safe

concrete class should not matter, think of a simple example:
`new ArrayList().equals( Collections.emptyList() )`
gives true, despite that both object have different classes

[2015-04-06 20:03] bartoszwalacik commented on #87
changed to createIdx, mongo driver updated to 3.0.0

[2015-04-06 21:36] #87 closed

[2015-04-12 14:10] eladh commented on #133
thanks for the explanation :-)
is there any chance for a roadmap  - we really want to integrate Javers in our product but needs this features as core functionality.

10x

[2015-04-12 15:11] bartoszwalacik commented on #133
hi, now we are finishing implementing JQL (Javers Query Language)
which is a really big step forward.

Concerning this issue, could you give more details about your requirements?
As I said before, restoring a simple, isolated ValueObject (object without references) is quite easy.
But when you want to restore a whole object graph, things gets complicated ...

[2015-04-12 16:28] bartoszwalacik commented on #129
will be solved in 1.2

[2015-04-13 08:13] Endeavourl commented on #94
Hi! First of all, thanks for this feature, it really helped!

I found this weird behavior, possibly a bug, when ignoring properties of a super class.
[code]
Ignoring as
[code]
works as expected, ignoring the property in the derived class.
However
[code]
doesn't work at all.

Another thing, and this is more annoying, is that when there isn't such name conflict between super and derived classes you

[2015-04-13 09:44] edenchen123 opened #137 "bug of getChangeHistory?"
Sample code to compare 2 objects,but getChangeHistory can not print out the value object change

       Javers javers = JaversBuilder.javers().build();

        Person tommy = new Person("tommy", "Tommy Smart");
        Address address1 = new Address("NY", "5th street");
        tommy.setAddress(address1);

        javers.commit("eden", tommy);

        Person tommy2 = new Person("tommy", "Tommy 2

[2015-04-13 10:54] Endeavourl opened #138 "Instances of java.nio.file.Path default to ValueObject"
Instances of java.nio.file.Path are treated as *ValueObjects* by default. I believe this is wrong and they should default to *Values*.

I discovered this when using Path as a key for a Map. That caused
`Exception in thread "main" JaversException: VALUE_OBJECT_IS_NOT_SUPPORTED_AS_MAP_KEY JaVers runtime error - found ValueObject on KEY position in Map property 'MapType(type:java.util.Map<java.nio.fi

[2015-04-14 09:33] bartoszwalacik commented on #138
assigned to JQL (1.2) release

[2015-04-14 09:36] bartoszwalacik commented on #138
will also add URI and URL

[2015-04-14 09:38] bartoszwalacik commented on #138
fixed in 1.1.2-SNAPSHOT
https://oss.sonatype.org/content/repositories/snapshots/
will be released soon in 1.2 JQL release

[2015-04-14 09:41] bartoszwalacik commented on #138
please check fresh snapshot, does it solve your problem?
(give us a stargazers if you like Javers)

[2015-04-14 09:46] bartoszwalacik commented on #137
Hi, currently we are doing a major rework of Repository querying API. The new API is called JQL (Javers Query Language). You can test using latest snnapshot
1.1.2-SNAPSHOT
https://oss.sonatype.org/content/repositories/snapshots/

Could you please try if the problem also occures when using new API?

```javers.findChanges(JqlQuery query)'```

[2015-04-14 10:00] bartoszwalacik commented on #94
ok, I will check it, but please post it as a new Issue, we focus on open issues

[2015-04-14 14:56] edenchen123 commented on #137
that's amazing, I will test with the new snapshot, and let you know

[2015-04-15 07:11] Endeavourl commented on #138
Yep, no exceptions for Maps with Paths now.

[2015-04-15 07:11] #138 closed

[2015-04-15 07:16] Endeavourl opened #140 "Possible bug when ignoring fields of a super class"
New issue based on https://github.com/javers/javers/issues/94#issuecomment-92263408

I found this weird behavior, possibly a bug, when ignoring properties of a super class.
[code]
Ignoring as
[code]
works as expected, ignoring the property in the derived class.
However
[code]
doesn't work at all.

Another thing, and this is more annoying, is that when there isn't such name conflict between super a

[2015-04-15 16:02] igler opened #141 "NullPointerException in GlobalIdTypeAdapter"
I am getting a NullPointerException in my current scenario:

<pre><code>java.lang.NullPointerException: null
	at org.javers.core.json.typeadapter.commit.GlobalIdTypeAdapter.parseClass(GlobalIdTypeAdapter.java:122)
	at org.javers.core.json.typeadapter.commit.GlobalIdTypeAdapter.parseUnboundedValueObject(GlobalIdTypeAdapter.java:53)
	at org.javers.core.json.typeadapter.commit.GlobalIdTypeAdapter.fro

[2015-04-16 19:33] bartoszwalacik commented on #141
looks like there are missing data in `jv_snapshot` table, could you send me the content of `state` field of record being loaded?
What kind of db you are using?

[2015-04-17 09:22] edenchen123 commented on #137
same as before and there are a lot of null -->

commit 2.0, author: eden, Apr 17, 2015 5:21:55 PM
  changed object: Person/tommy
    value changed on 'name' property: 'Tommy Smart' -> 'Tommy 2'
commit 1.0, author: eden, Apr 17, 2015 5:21:54 PM
  changed object: Person/tommy
    value changed on 'login' property: 'null' -> 'tommy'
    value changed on 'name' property: 'null' -> 'Tommy Smart'
    re

[2015-04-17 09:57] eladh commented on #133
Hi :-)
i will check JaversRepositoryReader.
for now i will commit the changes by @Entity  and isolate the whole object graph .
will try to read the project source code and hopefully write a design doc about it.

10x
elad

[2015-04-18 06:51] bartoszwalacik commented on #140
sure, will take care about this

[2015-04-18 07:05] bartoszwalacik commented on #137
yes, these null are actualy here by design. This is a new feature in JQL version, you get the 'initial change' (from the first commit) which is a change from nothing to something.

Not clear for me what is your issue? Do you want to list changes on Address ValueObject?
If so use:
`javers.findChanges( QueryBuilder.byValueObjectId(2, Person.class, "address").build() );`

[2015-04-18 07:16] bartoszwalacik commented on #133
ok, so we stay in touch, in case if you would like to join our new Javers gitter chat room, we are here:
https://gitter.im/javers/javers

[2015-04-27 08:21] erikgollot opened #142 "registerEntity ignored when @Id is also defined"
My problem is that I need to store the two versions of an Entity. So each one has a specific value for its @Id field. The real identity of my entities is the field businessIdentity. So I tried to register my entities with the following code
[code]

The problem is that Javers (I look with the debugger), always take my @Id field as the object identity.

Do I miss something ?

[2015-04-29 09:22] bartoszwalacik commented on #142
registerEntity(EntityDefinition) should have priority over annotation scanner. You mean that now we have diffrent situation, so @Id annotation overriders registerEntity(EntityDefinition)?

[2015-04-29 11:20] erikgollot commented on #142
Yes it seems that @id has the priority. I tried to had @ diffignore nzar @id and javers says that my object des not have any identity...even if previously i've used registerEntity.

[2015-04-29 11:24] erikgollot opened #143 "question : is there something that deal with bi-directional relationships ?"
Do you analyze jpa annotations for collection and particularly the mappedBy attribute ?

[2015-04-29 19:06] bartoszwalacik commented on #142
Right, I'll check this out

[2015-04-29 19:16] erikgollot commented on #142
Thanks !!

Let me know

[2015-04-29 20:16] bartoszwalacik commented on #36
JQL is released in javers 1.2.0
http://javers.org/documentation/jql-examples/

[2015-04-29 20:16] #36 closed

[2015-04-29 20:17] bartoszwalacik commented on #98
JQL is released in javers 1.2.0
take a look at new query API and examples
http://javers.org/documentation/jql-examples/

[2015-04-29 20:17] #98 closed

[2015-04-29 20:18] bartoszwalacik commented on #118
JQL is released in javers 1.2.0
take a look at new query API and examples
http://javers.org/documentation/jql-examples/

[2015-04-29 20:18] #118 closed

[2015-04-29 20:37] bartoszwalacik commented on #129
JQL is released in javers 1.2.0
take a look at new query API and examples
http://javers.org/documentation/jql-examples/
http://javers.org/documentation/jql-examples/#new-object-filter

Give us a star if you like JaVers

[2015-04-29 20:37] #129 closed

[2015-04-29 20:37] mantithetical commented on #118
Terrific! I will check it out.

[2015-04-29 20:38] bartoszwalacik commented on #128
JQL is released in javers 1.2.0
take a look at new query API and examples
http://javers.org/documentation/jql-examples/

[2015-04-29 20:38] #128 closed

[2015-04-29 20:48] bartoszwalacik commented on #137
JQL is released in javers 1.2.0
take a look at new query API and examples
http://javers.org/documentation/jql-examples/#new-object-filter

now you can turn on/of initial changes for change query

[2015-04-29 20:48] #137 closed

[2015-04-29 21:00] bartoszwalacik commented on #143
no, it is not necessary, Javers detects all relationships using Reflection API.
All you have to do is to map your types to Entities, ValueObjects

[2015-04-29 21:22] bartoszwalacik commented on #142
well, we have a test showing that Id property name given in EntityDefinition overrides
@Id annotation

https://github.com/javers/javers/blob/b523a05b64b86631ab9fd01da4616f6518590087/javers-core/src/test/groovy/org/javers/core/metamodel/clazz/EntityFactoryIdTest.groovy
see def "should use custom id property when given"()

could you come up with a failing test, which shows that in your case you have

[2015-04-29 21:31] erikgollot commented on #142
Ok i will do that tomorrow...I'm in France and it 11:30 pm 

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walacik" <notifications@github.com>
Date:Mer j Avr PM à 23:22
Objet:Re: [javers] registerEntity ignored when @Id is also defined (#142)

well, we have a test showing that Id property name given in EntityDefinition overrides
@Id annotation

https://github.com/javers/javers/blob/b523a05b64

[2015-04-30 07:27] bartoszwalacik commented on #129
if you are using SQL DB, there is a schema migration script

[2015-04-30 07:27] bartoszwalacik commented on #128
if you are using SQL DB, there is a schema migration script

[2015-04-30 07:28] bartoszwalacik commented on #118
if you are using SQL DB, there is a schema migration script

[2015-04-30 07:28] bartoszwalacik commented on #98
if you are using SQL DB, there is a schema migration script

[2015-04-30 07:36] erikgollot commented on #142
In the following clone of javers on my GitHub : erikgollot/javers
|   |
|   |  |   |   |   |   |   |
| erikgollot/javersjavers - JaVers is a tool for auditing object-oriented data |
|  |
| Afficher sur githu... | Aperçu par Yahoo |
|  |
|   |

You will find a test : org.javers.core.examples.ShouldUseRegisterAndNotIdObjectTest that fail.
In fact, it fail if I instantiate a child class of my base cl

[2015-04-30 18:11] phelypp opened #144 "Entity related to proxy"
Good afternoon people
Javers works with persistence related entity in the state of proxy?
ENTITY_INSTANCE_WITH_NULL_ID this error occurs, you need loads before?
thank you

[2015-04-30 18:39] bartoszwalacik commented on #144
You mean hibernate proxy for lazy-loading?

[2015-04-30 18:40] phelypp commented on #144
yes

[2015-04-30 18:46] bartoszwalacik commented on #144
we have open issue for that
https://github.com/javers/javers/issues/91
comment there to be notified about status

[2015-04-30 19:40] phelypp commented on #144
That's right, Ja has a solution ??

this occurring

JaversException: ENTITY_INSTANCE_WITH_NULL_ID Javers runtime error - Found Entity instance of class'

thank you

[2015-04-30 21:17] bartoszwalacik commented on #144
not sure if I understand you, if you have a problem with Hibernate proxies, you have to wait on https://github.com/javers/javers/issues/91

[2015-05-04 11:59] phelypp commented on #144
Yes I am with this problem

What is the prediction # 91?

thank you

[2015-05-04 19:34] bartoszwalacik commented on #144
well, we are working on it, think end of May

[2015-05-05 05:00] mantithetical opened #146 "Problems with Version 1.2 - support for Mongo 3.0"
JaversBuilder.javers().registerJaversRepository(mongoRepo).build() throws

[code]

The root cause appears to be the unauthorized migration in ensureSchema:
[code]
The eval method has been deprecated as of mongodb version 3.0

I bypassed this issue by running the migration manually. However, after the first commit, subsequents commits throw a class cast exception.

javers.commit(username, myObject)

[2015-05-05 16:51] Dieler opened #147 "Test jar in javers-core is missing"
I've started implementing a javers repository for Elasticsearch. I'm restricted to use Maven as build system because of the constraints enforced by the project the repository implementation is intended for. I wanted to use the repository e2e test coming with javers-core to test my implementation but that is not possible since the test classes are no longer part of the distribution.

[2015-05-06 04:31] bartoszwalacik commented on #146
Both problems are caused by API changes in MongoDB. As far as I know, MongoDB 3.0 is not compatible with 2.x. Currently, Javers works with Mongo 2.6. I don't have quick solution how to support both Mongo versions in the same time. If we switch Javers to Mongo 3.0, it would brake existing clinets who use Mongo 2.x. Any ideas how to solve this?

[2015-05-06 04:33] bartoszwalacik commented on #147
Ok, we can do it, btw we like Elastic, did you think about contributing your new repository to Javers project?

[2015-05-06 08:06] Dieler commented on #147
Basically, contributing the repository impl should be possible, but I'll have to check with my boss first. Right now, we're using spring-data-elasticsearch. I think an implementation without that dependency would be better. So once I'm done with my project I could port the result to a version based on pure elasticsearch, probably in my spare time.

[2015-05-06 10:10] bartoszwalacik commented on #146
think I should switch javers-persistence-mongo from MongoDB 2.6 to 3.0

[2015-05-06 11:12] mantithetical commented on #146
The driver version up to 2.12.* seems to work fine. Anything after that is problematic. Switching to 3.0 sounds like a good idea.

[2015-05-07 09:00] bartoszwalacik commented on #147
Hi,
sounds like a good idea,
JaversElasticRepository would be better without dependency to spring-data-elasticsearch.

Here is the test jars,
https://oss.sonatype.org/content/repositories/releases/org/javers/javers-core/1.2.0/
in few hours it will be available in Maven Central

[2015-05-07 09:19] bartoszwalacik commented on #147
Give us a notice when you'll be eager to contribution. Think we can work together on puting your code to Javers project.

[2015-05-07 09:19] #147 closed

[2015-05-07 10:48] vcvetkovik opened #148 "v1.3 release date"
I would like to persist the audit data in Oracle DB. I saw that this is scheduled for v1.3 but I was not able to find the release plan. When you expect to have the final 1.3 version?

[2015-05-07 15:46] bartoszwalacik commented on #148
good question, we'll do some planning tomorrow and let you know.
But in fact, I need to find someone who want to contribute in developing Oracle and MySQL support.
Maybe You would like?

[2015-05-08 14:26] #25 closed

[2015-05-08 14:35] #49 closed

[2015-05-08 14:56] bgalek commented on #72
1. add @bartoszwalacik private key used for nexus publication to travis Environment Variables
2. use private key string in travis.yml/build.gradle
3. use szpak's plugin to deploy artifact to sonatype repository
4. add gradle task to upload artifact snapshot to sonatype (will be triggered manually)
5. create new branch - production, enable only merges on it and connect travis build

[2015-05-08 15:01] bgalek commented on #91
to be released at the end of May :)

[2015-05-08 15:02] mantithetical commented on #91
Amazing!

[2015-05-08 15:16] bgalek commented on #127
our plan:

1) chcek if both objcets are from the same hierarchy (instance of)
2) check if field count is equal - then it's a valid comparison in other case - return false

[2015-05-08 15:18] bgalek commented on #132
looking forward for users contribution :)

[2015-05-08 15:37] bgalek commented on #133
first step: we will provide a method to get graph with limited depth, eagerly loaded
ToDo:
- create InstanceCreator interface available for beeing provided by user
- javers should try to make object by itself if class has empty constructor

[2015-05-08 15:39] bgalek commented on #135
hope it's fixed already :)

[2015-05-08 15:39] #135 closed

[2015-05-08 15:41] bgalek commented on #140
you could help us providing a complete test for this issue?

[2015-05-08 15:42] bgalek commented on #141
do you need any more help?:)

[2015-05-08 15:42] #141 closed

[2015-05-08 15:46] bgalek commented on #143
hope everything is all right  :)

[2015-05-08 15:46] #143 closed

[2015-05-08 15:49] bgalek commented on #146
We decided to update mongo in javers-mongo-repository project, so it will support mongo 3, everyone still using older mongo will have to stick with javers-mongo-repository 1.2, stay tuned!

[2015-05-08 15:52] erikgollot commented on #143
In fact i understand that it's not necessary for the diff. But i would like to use the diff for merging. And when you want to merge, you need the relationship that exists semantically between the collection of children in the 'parent' and the parent attribute in the child.
So it could be interested to have this information on both side when a diff exists

[2015-05-09 03:14] yong86 opened #149 "got an exception when trying to test JaversSqlRepositoryE2ETest"
I got this exception when trying to run JaversSqlRepositoryE2ETest:
"groovy.lang.MissingMethodException: No signature of method: org.javers.repository.sql.JaversSqlRepositoryE2ETest.javers() is applicable for argument types: () values: []"
could anyone help me out?

[2015-05-10 07:09] bartoszwalacik commented on #149
maybe you are violating package private scope?
what are you doing? you don't need to run javers test (Travis CI is doing it) unless you are implementing JaversRepository interface

[2015-05-10 07:13] bartoszwalacik commented on #148
1.3 should be released in the beginnig of June

[2015-05-10 07:18] bartoszwalacik commented on #143
still, your issue is not clear for me, javers diff suports bi-directional relatipnships (parent-child). For example if you change a parent for some child you got 3 changes: child add, child remove and parent change.
What is your use case?

[2015-05-10 08:27] erikgollot commented on #143
My case is just to be able to know which attribute on the child represents the reference to the parent. 

If we've the 3 changes you mention it's ok but not enough.

Is it more clear ?

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walacik" <notifications@github.com>
Date:Dim j Mai AM à 9:19
Objet:Re: [javers] question : is there something that deal with bi-directional relationships ? (#143)

[2015-05-10 14:20] bartoszwalacik commented on #143
In Change you have a property name , so you can easily map it to whatever you want. Why move your domain logic to external lib?

[2015-05-10 14:25] bartoszwalacik commented on #143
in fact, you can use type of Change to infer which relation is affected. If it is ReferenceChange - *toOne, otherwise OneToMany.

[2015-05-10 14:29] #144 closed

[2015-05-10 14:48] erikgollot commented on #143
Ok but i think it would be better to detect the semantic relationship between the collection of children and the reference to the parent in the child, in case of a onetomany relation for example.  And 'help' the api user instead of let him re-analyze the structure of the class.

My objective is to be able to make a consistent merge using the diff.

Don't you think it can help ?

Envoyé depuis Yaho

[2015-05-10 15:01] bartoszwalacik commented on #143
lets assume that you would be able to put more info about your relationships (parent, child, and so on) to javers. What exactly you want javers to do with this data?

[2015-05-10 17:21] erikgollot commented on #143
Javers nothing

But my merge process will be able to manage the consistency. If the user choose to accept that the child is a new child of the parent, accepting the 'collection change' my merge process will disallow to change the parent of the child to another parent.

Its really a problem you address when merging not when you do a diff. 

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walacik

[2015-05-10 17:29] bartoszwalacik commented on #143
simply I cannot agree to put some data or logic to javers-core
in order to do nothing with it :)
it doesnt make sense, maybe I could help in other way, when you explain why Merge cannot be done using Changes that are already available

[2015-05-10 17:45] erikgollot commented on #143
No problem i'm currently writing my own diff-merge library that can use jpa annotations or specific ones and that embed more semantic to be able to simplify a merge.

I was just trying to share my point of view with you.  If you're not convinced, no problem. 

Thanks because javers gives me some ideas and it's already interested for my work

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walac

[2015-05-11 08:13] blaketsk opened #150 "Problem with Pair<L, R>: CLASS_EXTRACTION_ERROR JaVers bootstrap error - Don't know how to extract Class from type 'L'."
Hi there.
I'm using javers 1.0.3 and Apache Commons Pair (org.apache.commons.lang3.tuple.Pair).
[code]
And I got
[code]
I tried my own implementation of Pair:
[code]
and still the same issue.

Am I doing something wrong?
Is it possible to use javers with generics?

[2015-05-11 11:39] bartoszwalacik commented on #150
try new JaVers version, 1.2.0

[2015-05-11 20:12] bartoszwalacik commented on #140
@Endeavourl  are You aware that in your example, in the subclass, you have 2 properties `String irrelevantString`?

[code]
so you should ignore both or simply try fixing your model and remove one of them.
In Java, If a field is private, it doesnt mean that it isnt inherited to a subclass, it is but it isnt accessible

[2015-05-11 20:12] #140 closed

[2015-05-12 03:51] mantithetical commented on #146
I am using mongo 2.6 and getting the Object to String class cast exception on javers commits. Don't you think that needs to be fixed? Otherwise, no one can use version 1.2.

[2015-05-12 10:43] #149 closed

[2015-05-12 10:52] yong86 opened #152 "auto-audit feature outside of spring Container"
I'm using spring jpa repositories outside spring container(OSGi env.) and for now,I succeeded to make javers creates the four tables in sql DB.but still don't know how to enable aspect support(@EnableAspectJAutoProxy in spring like behaviour )  for  auto-audit.
could anyone help me with that?

[2015-05-12 11:49] igler commented on #141
I'll come back when I need more help, thanx.

[2015-05-12 15:25] bartoszwalacik commented on #152
You should tkink about pure AspectJ approach. We are not going to implement it but we can accept a well written contribution from you.

[2015-05-12 15:25] #152 closed

[2015-05-12 17:43] blaketsk commented on #150
Still the same with JaVers 1.2.0.
Example, if it helps: https://github.com/blaketsk/javers-test

[2015-05-12 21:06] bartoszwalacik commented on #146
so you are using Mongo 2.6 or 3.0?
After running the migration script manually, what types you have under jv_snapshots.commitMetadata.id?

It should be changed from String do double, JaVers 1.2.0 expects doubles here

[2015-05-12 22:08] mantithetical commented on #146
I am using Mongo 2.6 locally. I dropped both javers collections, so it's a fresh start. The first javers commit works fine as one would expect. Any  subsequent commit fails with the ClassCastException. The problem is with javers 1.2.0 only.

[2015-05-13 04:58] bartoszwalacik commented on #146
it means serious problem, i'll check it asap

[2015-05-13 20:23] bartoszwalacik commented on #146
that's confusing, I cannot reproduce this error on Mongo 2.6, could you send me first few documents from jv_snapshots collection ?

[2015-05-13 20:23] bartoszwalacik commented on #146
and the full stack trace?

[2015-05-13 21:12] bartoszwalacik commented on #150
Apache Pair is ok, do not reimplement it.
JaVers supports generics, but JaVers requires type mapping - concrete java types of your objects.
Without that it's impossible to compare them.

All unbounded type parameters like `L` should be statically resolvable to concrete java types.

In your case you can use sth like that:

[code]

[2015-05-13 21:12] #150 closed

[2015-05-14 18:01] bartoszwalacik commented on #146
I've checked if this bug occurs in our demo-app https://github.com/javers/javers-demo wich works with Mongo 2.6. App works fine. I cannot reproduce this bug

[2015-05-14 18:26] mantithetical commented on #146
Let me get back to you with more details.

[2015-05-15 19:58] bartoszwalacik commented on #127
https://github.com/javers/javers/pull/153

[2015-05-15 20:23] bartoszwalacik commented on #142
@erikgollot, well, i cant see any commit at your fork. Where is your failing test?

[2015-05-16 03:55] erikgollot commented on #142
Oh sorry, i probably forgot to push.

I've made a test that shows the problem when we've inheritance. It works if not.

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walacik" <notifications@github.com>
Date:Ven j Mai PM à 22:23
Objet:Re: [javers] registerEntity ignored when @Id is also defined (#142)

@erikgollot, well, i cant see any commit at your fork. Where is your failing test?

—
Reply

[2015-05-16 03:57] erikgollot commented on #142
I cannot push now, i dont have access to my computer. I will do it asap

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walacik" <notifications@github.com>
Date:Ven j Mai PM à 22:23
Objet:Re: [javers] registerEntity ignored when @Id is also defined (#142)

@erikgollot, well, i cant see any commit at your fork. Where is your failing test?

—
Reply to this email directly or view it on GitHub.￼

[2015-05-18 05:35] bartoszwalacik commented on #127
done & released, see v 1.2.1

[2015-05-18 05:35] #127 closed

[2015-05-19 12:02] vmaubert opened #154 "Change log with ValueObject changes"
Hi,

I would like to list all changes for an entity by commit. But I don't have ValueObject changes in the changelog.

Example :

[code]

The output :
[code]

I don't have the primary address change :-/ How can I do that ?

Thanks!

[2015-05-19 19:52] bartoszwalacik commented on #154
see http://javers.org/documentation/jql-examples/#by-value-object-query
you need to query for ValueObject (Address), not Entity (Employee )

[code]

[2015-05-19 19:54] bartoszwalacik commented on #154
I mean, for now, you cant query for both things (Entity changes and VO changes) using single query

[2015-05-19 21:56] vmaubert commented on #154
Ok ok, thx for your answer :-/

I need the complete change log of an entity for my application. Can I 'merge' by commit the results of the two queries (Entity and VO) properly ?

[2015-05-20 16:18] TimSin opened #155 "java.lang.ClassCastException"
I get the following error when trying to commit a change to Javers using the javers.commit(user, currentVersion) call:

[code]
This works when just using the in memory version of javers:

[code]
But when trying to use an in memory H2 DB, the error occurs:
[code]
My domain model objects are all marked with @Id annotations on the correct fields and, as I mention above, changesets are being stored in

[2015-05-22 00:30] swarooprath opened #156 "Javers + Spring data + Mongo does not work"
I tried to create a simple example using Javers + Mongo + spring data + spring. It does not work and my application crashes before the context is initialized. I see that Javers uses deprecated api getDb on MongoClient below. The example on your website uses the constructor new Mongo() which is deprecated and fails as well. Am copying my code block, links to your website and stacktrace below.

Link

[2015-05-22 00:32] swarooprath commented on #156
Here is a link to my repo. My attempt of saving one entity to Mongo using Spring + Spring data + Javers : https://github.com/swarooprath/mongo/tree/master/javers

[2015-05-22 10:52] TimSin commented on #155
Evidently it was a config issue. A browse through the Javers source revealed that any mapped collections that are managed by Hibernate require a @DiffIgnore annotation to ensure that serialisation works correctly.

[2015-05-22 10:52] #155 closed

[2015-05-22 11:50] Dieler opened #157 "JsonIOExcpetion when trying to deserialize property value of generic type with generic type parameters"
When a snapshot state has a property of a generic type which in turn has generic type arguments, its deserialization raises a ```JsonIOException```. E.g., trying to deserialize a value of type ```Map<String,EnumSet<SomeEnum>>``` results in
[code]
Gson as such is perfectly capable of handling such types. The actual problem seems to be the constructor of ```ParameterizedDehydratedType``` where the t

[2015-05-23 12:34] bartoszwalacik commented on #154
Why not, try to join both change List and pass them into javers.processChangeList()
Maybe an easier solution would be new JQL query type in javers. We are quite busy at the moment but if you are eager to contribute, we could help to make it happen

[2015-05-23 12:40] bartoszwalacik commented on #156
@swarooprath if you are using Mongo 3.0 - this is a known issue.
Javers works with Mongo 2.6, and simply does not work with Mongo 3.0. Mongo guys did braking changes in mongo-client API.

Upgrading javers to Mongo 3.0 is high in our backlog, we plan to make it happen in this month, stay tuned

[2015-05-23 12:44] bartoszwalacik commented on #155
nice, we are working on `hibernate unproxying issue` - https://github.com/javers/javers/issues/91

after that Javers would be able to manage hibernate proxies

[2015-05-23 12:52] bartoszwalacik commented on #157
well, Javers supports nested Generics to some extent (like `Set<ThreadLocal<String>>`)
but in fact we do not have test for Maps. Could you think about implementing a faling test in your forked javers repository?

for ex. here https://github.com/javers/javers/blob/b523a05b64b86631ab9fd01da4616f6518590087/javers-core/src/test/groovy/org/javers/core/metamodel/type/MapTypeTest.groovy

[2015-05-24 09:29] erikgollot commented on #142
You can have a look at https://github.com/erikgollot/javers/tree/check-register-definition-priority/javers-core/src/test/java/org/javers/core/examples
Class ShouldUseRegisterAndNotIdObjectTest.java

[2015-05-24 20:30] bartoszwalacik commented on #146
JaVers 1.2.5 is released. We updated MongoDB Java Driver to 3.0
http://javers.org/documentation/features/#release-notes
check it out

[2015-05-24 20:30] #146 closed

[2015-05-24 20:30] bartoszwalacik commented on #156
JaVers 1.2.5 is released. We updated MongoDB Java Driver to 3.0
http://javers.org/documentation/features/#release-notes
check it out

[2015-05-24 20:30] #156 closed

[2015-05-25 07:42] swarooprath commented on #156
Thanks for fixing this, will check it. Yes, am on mongo3.
Mongodb version is : db version v3.0.2
The version number of all the jars I used and along with the code are in my public github repo's build.gradle. Copying the link from above for easy reference: https://github.com/swarooprath/mongo/blob/master/javers/build.gradle

[2015-05-25 16:17] Dieler commented on #157
I've submitted a pull request for my suggested fix. See if it makes any sense to you.

[2015-05-25 20:43] bartoszwalacik commented on #142
ok, but why have you closed the issue?

[2015-05-25 20:45] bartoszwalacik commented on #157
ok, I'll take a look

[2015-05-26 05:11] erikgollot commented on #142
I will check, I don't know why maybe a mistake

Envoyé depuis Yahoo Mail pour Android

De:"Bartosz Walacik" <notifications@github.com>
Date:Lun j Mai PM à 22:43
Objet:Re: [javers] registerEntity ignored when @Id is also defined (#142)

ok, but why have you closed the issue?

—
Reply to this email directly or view it on GitHub.￼

[2015-05-26 15:28] swarooprath opened #161 "Javers + Spring data + Spring DI + Mongo DB example"
Hi

 Do we have an example using Javers + Spring data + Mongo DB to store audit history of objects. I saw a half baked unit test case using Fongo and a configuration example but an end2end example would be very helpful.

 Where and how is the audit history saved ? Am more interested in a working auto-audit example with Mongo.

- Swaroop

[2015-05-26 21:49] bartoszwalacik commented on #157
@Dieler thanks for your contribution!
released in JaVers 1.2.6

[2015-05-26 21:49] #157 closed

[2015-05-26 21:52] bartoszwalacik commented on #161
Hi, did you looked at http://javers.org/documentation/spring-integration/#auto-audit-example ?

[2015-05-27 02:09] mantithetical commented on #146
I am sorry it took a while to get back to you. The problem was an unrelated one with a conflicting older version of gson in my project. I have upgraded Javers to 1.2.5 and so far so good!

[2015-05-27 15:54] maheshyamsani opened #162 "Multi Level Collection difference are not showing with diff"
May I know how to get the difference with Multi Level Collections if I add/ remove projects of the given department from the below classes by sending the old and new objects of Employee

Public Class Employee {

private String name;

private List<Department> departments

}

public class Department {

private String name;

private List <Project> projects;
}

public class Project {

private name;
}

[2015-05-28 04:48] bartoszwalacik commented on #162
What is Multi level collection?

[2015-05-28 09:57] maheshyamsani commented on #162
// Create Employee Object
Employee emp1 =  new Employee();
emp1.setName("Emp1");

List<Department> deptList = new ArrayList<Department>();

Department dept1 = new Department();
dept1.setName("Dept1");

List<Project> projectList = new ArrayList<Project>();

Project project1 = new Project();
project1.setName("Project1");

projectList.add(project1);

dept1.SetProjects(projectList);

deptList.add(dept

[2015-05-29 02:48] mantithetical opened #163 "Deserializing CdoSnapshot to original entity"
Is there an existing api to deserialize CdoSnapshotState to the entity being versioned?

[2015-05-29 05:41] bartoszwalacik commented on #162
what with your domain model mapping? All your classes looks like Entities and if you don't use @Id, JaVers will map them as ValueObjects. See http://javers.org/documentation/domain-configuration/index.html#domain-model-mapping

btw. please came up with runnig test (on forked JaVers) that will explicitly show your case

[2015-05-29 12:16] bartoszwalacik commented on #163
short answer: no
but we have this feature high in our backlog
https://github.com/javers/javers/issues/133
we are going to take this task after finishing MSSQL and Oracle issues

comment there to be notified about progress

[2015-05-29 12:16] #163 closed

[2015-05-29 13:10] bartoszwalacik commented on #142
ok, now I can see the issue

[2015-05-31 18:59] bartoszwalacik commented on #142
fixed in vesrion 1.2.8
http://javers.org/documentation/features/#release-notes

[2015-05-31 18:59] #142 closed

[2015-06-01 13:16] docfirefly opened #165 "ENTITY_INSTANCE_WITH_NULL_ID"
Within my data there are a few entities with null id and I am receiving this message:

Caused by: JaversException: ENTITY_INSTANCE_WITH_NULL_ID JaVers runtime error - Found Entity instance of class '....' with null id

How can I handle this? Can this be ignored somehow or can I somehow state that null id == null id = no diff?

Thanks

[2015-06-01 13:18] yong86 opened #166 "EclipseLink Support"
I tried to implement EclipseLink Support:

    public class JpaEclipseLinkConnectionProvider implements ConnectionProvider{

    @PersistenceContext
    private EntityManager entityManager;

    @Override
    public Connection getConnection() {
        entityManager.getTransaction().begin();
       Connection connection = this.getEntityManager().unwrap(java.sql.Connection.class);
       return con

[2015-06-01 16:59] tchegito opened #167 "ElementValueChange not using @Id annotation in Levenstein"
Hi people,

not sure that's an issue, maybe an enhancement, but I'm surprised of a different behavior between simple method and Levenshtein method for comparing.

I isolate it in a very simple usecase, which I resume here with words instead of code.
Consider two class A and B with each one an @Id declared on a field. Class A contains a field which is a list of object B.
We create two instances A1

[2015-06-01 17:25] bartoszwalacik commented on #165
If you have missing

[2015-06-01 17:31] bartoszwalacik commented on #165
Missing Ids maybe you should map your class as ValueObject? Comparing null to null looks strange to me, is it true or false?

[2015-06-01 21:01] bartoszwalacik commented on #154
closed due to lack of activity

[2015-06-01 21:01] #154 closed

[2015-06-01 21:06] bartoszwalacik commented on #166
well, i don't know much about EclipseLink but if it implements JPA (EntityManager), then you shouldn't call commit. EntityManager does it.

[2015-06-01 21:14] bartoszwalacik commented on #167
thanks @tchegito, well, both list comparing algorithms should produce similar results.
If you have a list of objects with @Id - you have the list of Entities.
In this case, entities should be compared only by Id.

There could be a bug in Levenshtein. Could you help us and isolate this case to the new, failing test, pushed to your forked JaVers github repository?

[2015-06-02 06:02] docfirefly commented on #165
Thanks for your fast reply. I will try to map it as ValueObjects. But how is the null ID treated then?
Comparing null to null in my opinion would be like this: if the value was null before and is null in the new version then it didnt change, but yes...its strange.

[2015-06-02 07:37] tchegito commented on #167
Hi Bartosz

Yes I can do that ! I'll try today, but you will see, this is very simple.
I hope my report isn't confused by my whole process (this may be), so I'll
make it simplest as possible.

Thank you for quick answer

On Mon, Jun 1, 2015 at 11:14 PM, Bartosz Walacik <notifications@github.com>
wrote:

[2015-06-02 13:33] boppi77 opened #168 "Showing Dates as changed - Spring Data, Postgres"
Hi, we are evaluating javers to use in our project, using spring boot, data, postgresql & java 1.7. when we update the entity, it is showing the entry_date & last_updated_date showing as changed, but in reality they are not.
what am i doing wrong.

INITIAL	{
  "enteredDate": "2015-05-28T15:58:57-0400",
  "password": "$2a$10$RW7vCDJXbXmuuCGxwUoO6uVvB5okjzyLAW.ogCli7UgSoNGP3XYuK",
  "status": "Activ

[2015-06-03 07:09] bartoszwalacik commented on #165
nulls are handled properly when occurs on normal properties.
Entity.ID is the only exception, it cannot be null, the whole diff algorithm is built on this assumption and I dont want to change it.
Catch us on gitter https://gitter.im/javers/javers if you need more help

[2015-06-03 07:09] #165 closed

[2015-06-03 07:11] bartoszwalacik commented on #167
ok, I am waiting for the isolated test

[2015-06-03 07:13] bartoszwalacik commented on #168
well, I need more information, first, what Classes are you using for dates?

Could you isolate this case to the new, failing test, pushed to your forked JaVers github repository?

[2015-06-03 08:16] tchegito commented on #167
Hi Bartosz

I just pushed unit test in my forked repo here:
https://github.com/tchegito/javers

On Wed, Jun 3, 2015 at 9:11 AM, Bartosz Walacik <notifications@github.com>
wrote:

[2015-06-03 17:33] phelypp commented on #91
Hello Friends,

We really want to use Javers however need this issue
Any position to delivery date?

thank you

[2015-06-03 17:43] mantithetical opened #169 "Make findChanges api optionally return additional 'state' properties"
When fetching changes made to a property (using the findChanges api), sometimes it's useful to know the values of other properties.

[2015-06-03 17:54] mantithetical commented on #169
I am happy to make a pull request if that would help...

[2015-06-03 19:17] mantithetical commented on #169
Actually, using the the findSnapshots api with the andProperty(property) qualifier might get me what I need. Although, it would still be useful to fetch a small set of properties as opposed to everything.

[2015-06-03 20:30] bartoszwalacik commented on #167
ok, I'll come back to it after weekend

[2015-06-03 20:32] bartoszwalacik commented on #91
@bgalek is working on it, i cant push him :)

[2015-06-03 20:34] bartoszwalacik commented on #169
you mean `andProperties(List propertyNames)` ?

[2015-06-03 20:43] mantithetical commented on #169
Does that method already exist? What I mean is when filtering by a property, which has changed, I also want to be able to limit which fields are returned in the snapshot object. Something like:

`.projections(List<String> propertyNames)`

[2015-06-03 20:55] bartoszwalacik commented on #169
There is no such method yet. It could be a nice feature, if you want to have it quickly, think about contribution. For now, we are really busy doing MS SQL and Oracle support and Hibernate unproxy feature.

[2015-06-03 20:56] mantithetical commented on #169
I will be glad to take a stab at this.

[2015-06-03 22:13] yong86 commented on #166
@bartoszwalacik  thanks for your reply. Actually,I tried it when creating the three tables and the sequences and I must commit the transaction manually.I don't know where should i commit the transaction after saving or delete data?

[2015-06-04 06:12] bartoszwalacik commented on #166
If you are using JPA and EntityManager you do not commit manually.  Take a look at our impl for JPA & Hibernate and do it the same way.

[2015-06-08 12:27] yong86 commented on #166
I don't able to get to work. As mentioned here: https://wiki.eclipse.org/EclipseLink/Examples/JPA/EMAPI
after getting the connection in eclipse link ,i should commit the transaction manually.

[2015-06-08 15:10] shelined opened #170 "NPE on findChanges"
I've got a project with two entity classes, A and B. I've saved an object A1 which contains B1 and used findChanges and all is well. I make a change and point A1 at B2 and am able to commit the changes but when I use findChanges this time, I get a NPE. I've stepped through the code to provide any additional information I can and it should be noted this is on v1.2.8.

[code]

[2015-06-08 16:19] tchegito commented on #167
Hi Bartosz,

first of all, sorry to reuse this mail about another question, but I don't
have other one.

Using Javers, my main goal was to :
1) analyse diff between 2 objects
 ==> it's ok
2) propagate these diff from the first object
 ==> I get trouble there

The main problem I encounter is: how reflect the changes detected on the
first element ? I tried many approaches:
-change your source code t

[2015-06-08 20:14] bartoszwalacik commented on #166
well, simply, calling commit() is on your side.
We explains ideas behind connection-provider  here:
http://javers.org/documentation/repository-configuration/#connection-provider

I'am not sure what you are asking about. We do not offer EclipseLink integration but you can do it
on your own by implementing ConnectionProvider interface.

All you have to do is to provide for JaVers your open JDBC conn

[2015-06-08 20:20] bartoszwalacik commented on #170
thanks @shelined for reporting this. Could you help us and isolate this case to the new, failing test, pushed to your forked JaVers github repository?

[2015-06-08 20:28] bartoszwalacik commented on #161
closed due to lack of activity

[2015-06-08 20:28] #161 closed

[2015-06-08 20:36] bartoszwalacik commented on #167
Hi,
what do you mean by propagate? Your goal is to synchronize both objects by aplying changes calculated by diff to one of those objects (left I guess)?

[2015-06-09 06:57] tchegito commented on #167
Yes you're right !

The goal is to synchronize graph objects between two databases.

On Mon, Jun 8, 2015 at 10:36 PM, Bartosz Walacik <notifications@github.com>
wrote:

[2015-06-09 16:01] slvs opened #171 "Javers thinks 2 hashsets with the same objects are different due to different ordering"
I'm using the following code to diff 2 objects (of the same class):

		    		Javers javers = JaversBuilder.javers().build();
		    		Diff diff = javers.compare(beforeObject, afterObject);
		    		for (Change c : diff.getChanges()) {
		    			logger.debug("change=" + c.toString());
		    		}

The objects each have a HashSet containing other objects, and both HashSets are equal.  But the code prints

[2015-06-09 18:32] bartoszwalacik commented on #167
So having the left reference would solve your issue?
What about this 'apply changes' feature? It could be useful. For now I don't have time to write it but I can accept PR.
Using javers-core engine (Cdo abstraction) it shouldn't be very hard to implement.

[2015-06-09 18:36] bartoszwalacik commented on #171
these objects are ValueObjects?

[2015-06-09 18:38] bartoszwalacik commented on #171
if so, you shoud get SET_OF_VO_DIFF_NOT_IMPLEMENTED.

[2015-06-09 20:13] slvs commented on #171
These are entity objects.  I did not get a SET_OF_VO_DIFF_NOT_IMPLEMENTED exception.

[2015-06-10 05:46] bartoszwalacik commented on #171
Javers matches entities by Id, position does not matter.

Could you help us and isolate this case to the new, failing test, pushed to your forked JaVers github repository?

[2015-06-10 11:25] tomazic89 opened #172 "Registering more than one custom comparator throws exception"
If you try to register more than one custom comparator the following exception is thrown:

*java.lang.ExceptionInInitializerError
Caused by: org.picocontainer.PicoCompositionException: Duplicate Keys not allowed. Duplicate for 'class org.javers.core.diff.custom.CustomToNativeAppenderAdapter'
	at org.picocontainer.DefaultPicoContainer.addAdapterInternal(DefaultPicoContainer.java:437)
	at org.picoco

[2015-06-11 10:55] yong86 commented on #166
OK,thanks.I did it

[2015-06-11 10:55] #166 closed

[2015-06-11 11:02] yong86 opened #173 "Existing data before javers"
I'm using javers with spring data.I know that when saving ,you insert 'INITIAL' in table snapshot and if i update,you insert 'UPDATE' with the updated properties.What if I already have data saved before using javers?.Now,I will miss one history version when updating?.Is there a way It can be handled?

Also,the same case with delete.error ,"it doesn't exists in JaversRepository"

Thanks.

[2015-06-11 15:14] bartoszwalacik commented on #173
Why you think you gonna misd sth? Initial and Update are just labels. In both cases Javers saves full snapshot

[2015-06-12 08:29] bartoszwalacik commented on #172
fixed in 1.2.10

[2015-06-12 08:29] #172 closed

[2015-06-12 08:29] bartoszwalacik commented on #167
fixed in 1.2.10

[2015-06-12 08:29] #167 closed

[2015-06-12 11:56] tchegito commented on #167
Thanks Bartosz !

On Fri, Jun 12, 2015 at 10:29 AM, Bartosz Walacik <notifications@github.com>
wrote:

[2015-06-15 08:54] yong86 commented on #173
I mean if I update data (existing data ,not shown in snapshot),it inserts all the fields as changed_properties,not the updated fields.
so,I need to have the full snapshot of the data before being updating.

[2015-06-15 13:35] yong86 opened #174 "CLASS_NOT_FOUND JaVers runtime error"
I don't why I'm getting exception here although ,I already have this class and included in "cdo_class_pk" .

[2015-06-16 08:39] bartoszwalacik commented on #174
First, isolate the problem to the failing test

[2015-06-16 08:40] bartoszwalacik commented on #174
You can write it in forked javers repo

[2015-06-16 08:44] bartoszwalacik commented on #173
@yong86 what you exactly want from javers in this issue? Now, we do not provide any features for data migration.

[2015-06-16 13:07] phelypp commented on #91
Hello Javers :)

You have a definite date?
But we will make an outline in our application.

Thank you

[2015-06-16 16:47] bgalek commented on #91
Working on it right now, hope to write here about results later today :)

[2015-06-16 19:39] bgalek commented on #91
I've just updated branch with this feature, hope @bartoszwalacik @pawelszymczyk will check it out soon and maybe we could release ASAP :)

[2015-06-18 14:01] phelypp commented on #91
Good, I'm waiting merge

Thanks :)

[2015-06-23 13:55] tchegito opened #176 "List comparison differs according to the container"
Hi people,

I noticed a difference comparing two lists in 2 cases:
- direct: compare(List\<A> list1, List\<A> list2)
- with container: compare (new ListContainer(list1), new ListContainer(list2))

(ListContainer is just a basic object with only a single member List\<A>)

In first case, an element removal isn't detected. I only have ElementValueChanged. But in the second case, removal are well dete

[2015-06-23 14:24] bartoszwalacik commented on #176
looks like a bug, could you isolate this case to the failing test and push it to github on forked javers repo?

[2015-06-23 14:57] tchegito commented on #176
Thanks for the quick answer. I'll do that this evening.

But please note that the first behavior is in accordance with your
documentation here ( http://javers.org/documentation/diff-configuration/ in
the "Simple vs Levenshtein algorithm" section).
There we can read:
"

javers.compare(['a','b','c','d'],
               ['a','g','e','i'])
(Levensthein)
(1). 'b'>>'g'
(2). 'c'>>'e'
(3). 'd'>>'i'

"The

[2015-06-23 20:35] tchegito commented on #176
I just pushed on my repo here:
https://github.com/tchegito/javers/commit/f7bb1d0e027bef7f2ca4a209c8b92a33934fa151

[2015-06-24 19:36] bartoszwalacik commented on #176
ok, I'll take a look at this

[2015-06-27 20:07] bartoszwalacik commented on #176
when running TestListChanges, we have the following results:
[code]

regardless of the list comparing algorithm...
The second result (diffWithContainer) looks like valid

[2015-06-27 20:22] bartoszwalacik commented on #176
so the problem is with diffDirect

[2015-06-27 20:40] bartoszwalacik commented on #176
The reason is ListWrapper, when you pass a raw List to the diff, JaVers packs it in a 'artifitial' ValueObject:

[code]

Unfortunately, given list is then treated as generic List (List of ValueObjects), and not as a List of Entities (CodeLabel in your case)

[2015-06-28 11:07] tchegito commented on #176
Yes, that's right ! I've figured it out, with a debugging session. But I
couldn't determine if it was the right thing to do or not. Like I said
earlier, this behavior is the one you provided on your documentation. But
maybe the difference is about the way data are treated, as you guessed :
ValueObject or Entities ?

Is it a bug or a feature ); ?

On Sat, Jun 27, 2015 at 10:40 PM, Bartosz Walacik <

[2015-06-28 14:05] bartoszwalacik commented on #176
I wouldn't say it's a bug. It's a undocumented feature :)
I've just added more javadoc to compare() function, in order to explain this ambiguity:

https://github.com/javers/javers/blob/master/javers-core/src/main/java/org/javers/core/Javers.java

Could you please read it and give me some feedback if it is understandable?

[2015-06-28 18:34] tchegito commented on #176
I read it but I don't understand very well why Javers can't determine
content type of list. You could get it with reflection like this:
http://stackoverflow.com/questions/1942644/get-generic-type-of-java-util-list
This could be great, to use generics revealed at runtime.
I think a lot about this feature of comparing lists, and the need we had in
our application has been adressed another way: calli

[2015-06-28 20:14] bartoszwalacik commented on #176
@ tchegito, i know how Java Reflections works :) Even in this stack answer, you can read 'If those are actually fields of a certian class'. There are no field when you are passing List reference directly to the compare() function.

In Java, Generics exists only in compile time, in runtime, they are erased to raw types, it's caled Type Erasure.

So if you are passing List<Sth> reference as an Objec

[2015-06-29 07:35] tchegito commented on #176
Yes, you're right, I was pretty sure I missed something ! As you have only
an instance, you can't determine the generic type.

But what about a specific method "compareCollections" where a third
parameter could identify the type by its class ? Ah, that may be ugly. If
that was my own library, I'd think "that will deface my code !"
Or you can simply get the first element of any collection (left or

[2015-07-02 09:19] bartoszwalacik commented on #91
released in 1.2.11

[2015-07-02 09:19] #91 closed

[2015-07-05 10:27] bartoszwalacik commented on #176
Specific method `compareCollections(Object left, Object right, Class itemType)` looks like not so bad idea. But i don't want to look at the type of first element. JaVers is strongly typed, just like Java. What if user's collection is heterogenous? It would lead to non-deterministic results.

So now when we got the diagnosis maybe you could close this issue and create new issue (feature request) fo

[2015-07-07 08:29] tchegito commented on #176
Ok, I'll open a new issue about that.

[2015-07-07 08:29] #176 closed

[2015-07-07 08:32] tchegito opened #177 "Feature request: compare lists"
Following previous issue ( https://github.com/javers/javers/issues/176 ), here is

When we compare directly collections with Javers, content type can't be determined at runtime.
So a way to achieve this would be this method signature:

compareCollections(Object left, Object right, Class itemType)

Then we could take advantage of Javers entities, and get a complete comparison, as if we provided a c

[2015-07-07 10:30] TimSin opened #178 "Property name change casues JaversException, we need 'alias feature' to register old names"
In the process of developing an application I have had to change a property name in one of my classes. This now leads to an exception being thrown when I try to commit a snapshot of the object to Javers:

[code]
Clearing the mongo db of all data associated with the object clears the issue, but obviously this will be problematic with a live system. Is there a way that Javers can deal with property

[2015-07-08 06:57] pawelszymczyk commented on #178
Hi

Currently Javers doesn't support property name changes, but I think it could be very nice feature if you have some ideas how to deal with it we could discuss it and prepare some solution :), for now you can execute some script updating Javers sctructures or change your class name and store changes from the beggining.

[2015-07-08 16:20] bartoszwalacik commented on #178
We could introduce aliases for properties and also for class names,  configured in JaversBuilder

[2015-07-09 12:40] TimSin commented on #178
From an audit point of view, as long as the old property data was available in historical snapshots I would be happy. I guess that may make diffs more difficult, though to me it would seem logical to treat the now missing data as null and maybe store a Change to record when it was noticed that the old property was no longer present.

I haven't browsed the source extensively so I'm not too familiar

[2015-07-09 17:16] bartoszwalacik commented on #178
Aliases could be use to handle renames. For example if you rename 'name' to 'forename' , you will add an alias 'name' to property  'forename'. Not sure about this class versioning idea. I think you can have only one class version loaded at a time.

[2015-07-18 18:52] bartoszwalacik commented on #173
closing due to lack of activity

[2015-07-18 18:52] #173 closed

[2015-07-18 18:53] bartoszwalacik commented on #148
1.3 with Oracle and MsSQL support is released

[2015-07-18 18:53] #148 closed

[2015-07-18 18:53] bartoszwalacik commented on #100
v. 1.3 with Oracle and MsSQL support is released

[2015-07-18 18:53] #100 closed

[2015-07-18 19:01] bartoszwalacik commented on #162
closing due to lack of activity, please reopen when you be eager to continue this thread

[2015-07-18 19:01] #162 closed

[2015-07-18 19:04] bartoszwalacik commented on #170
@shelined, how can I reproduce this bug?

[2015-07-18 19:06] bartoszwalacik commented on #171
@slvs how can I reproduce this?

[2015-07-18 19:07] bartoszwalacik commented on #174
closing due to lack of activity

[2015-07-18 19:07] #174 closed

[2015-07-18 19:09] bartoszwalacik commented on #168
closing due to lack of activity, please reopen if you gonna to continue this thread

[2015-07-18 19:09] #168 closed

[2015-07-23 08:21] fynnfeldpausch opened #179 "Pagination for .findSnapshots / .findChanges"
Is there any way to use a pagination filter when searching snapshots? The QueryBuilder provides a .limit() functionality but I am not able to find any .skip() feature. Both methods are needed to implement a proper pagination for searching snapshots.

[2015-07-23 08:56] bartoszwalacik commented on #179
hi, there is no pagination yet, agreed that it could be useful. If you want to have it quickly, think about contribution

[2015-07-24 13:43] gzsombor opened #180 "Unable to introduce Javers into an already working system"
We have a system - fairly standard, JPA/Hibernate/Spring/SQL -  which already has entities. I've tried to follow the documentation to configure javers - and it seems to be working for new entities. But unfortunately, for modifying already existing entities, or creating an entity with reference to an already  existing - and not yet audited - entity fails with a foreign key violation.
 How can I con

[2015-07-24 20:05] bartoszwalacik commented on #180
Hi, what do you mean by: entity fails with a fk violation? Please give a
concrete example.
On Jul 24, 2015 3:43 PM, "Zsombor" <notifications@github.com> wrote:

[2015-07-25 07:45] gzsombor commented on #180
Yes, foreign key violations with MySQL:
[code]

[2015-07-25 21:38] bartoszwalacik commented on #180
looks like a bug in JaversSqlRepository, but I need a failing test which distiles this case,
could you provide this test? (preferably in forked javers repository)

[2015-07-26 08:44] gzsombor commented on #180
Sorry, I cannot reproduce it anymore. I've added/removed the @DiffIgnore annotation in a couple of places, probably that caused some problems inside Javers.

[2015-07-26 08:44] #180 closed

[2015-07-27 05:16] deepu105 opened #181 "Javers in a Spring boot application causes runtime errors when enabling CGLIB proxy instead of Interface proxy"
I have tried out Javers in default application generated by JHipster and it works well, but if I enable `proxyTargetClass = true` in spring `@EnableGlobalMethodSecurity` Javers is causing run time exception in the repository

as per spring docs
[code]

so will you guys be able to check if you are explicitly expecting Java interface-based proxies ?

[2015-07-27 21:10] bartoszwalacik commented on #181
hi, first, are you talking about `@JaversSpringDataAuditable` or `@JaversAuditable` aspects?

I'm not an expert in Spring AOP, take a look at our impl and maybe you can say what's wrong
https://github.com/javers/javers/blob/69ff9949086038be8e7e72c1f41a6c8996243e4a/javers-spring/src/main/java/org/javers/spring/auditable/aspect/JaversAuditableRepositoryAspect.java

[2015-07-27 21:12] bartoszwalacik commented on #181
could you provide a failing test which which reproduces this issue?

[2015-07-28 00:43] deepu105 commented on #181
Im talking about JaversSpringDataAuditable coz i was using that in a project generated by jHipster. A failing test can be reproduced with any spring boot application with spring data repository  just set the proxyTargetClass param true on any supported annotation

[2015-07-28 06:41] bartoszwalacik commented on #181
Will check it

[2015-07-28 07:31] pawelszymczyk commented on #181
Hi

Look at here: https://github.com/pawelszymczyk/organization-structure - this application based on spring-boot and using javers-spring, I hope this could help you.

[2015-07-28 07:52] deepu105 commented on #181
@pawelszymczyk I dont have an issue in getting it working with spring boot the issue arises only if i do `@EnableAspectJAutoProxy(proxyTargetClass = true)` instead of `@EnableAspectJAutoProxy`

In my app I was using `@EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true, proxyTargetClass = true, mode = AdviceMode.PROXY)` which cause the issue so for now i made `proxyTargetClass

[2015-07-28 07:54] bartoszwalacik commented on #181
@pawelszymczyk I'll check it

[2015-07-28 11:37] bartoszwalacik commented on #181
I've wrote some spring-boot tests and with cglib proxies enabled and
I got this exception: `Cannot subclass final class class com.sun.proxy.$Proxy60`

Is this the same exception that you have?

Not sure if it is a JaVers bug, as far as I understand, this exception says that Spring tries to create proxy on proxy and fails because cglib proxies are final.

I guess that this could be some general pro

[2015-07-28 13:42] bartoszwalacik commented on #181
see http://stackoverflow.com/questions/13977093/how-to-use-jparepositories-with-proxy-target-class-true

[2015-07-29 00:25] deepu105 commented on #181
@bartoszwalacik yes its the same error. Not sure if a spring issue but this happens only when introducing the javers configuration classes, i have tried a fresh app with cglib first ot works then added javers and it fails. You can try as well

[2015-07-29 00:27] deepu105 commented on #181
To be specific if i comment the javers aspect class it works, im using other aspects on repository and i dont have the issue

[2015-07-29 07:22] bartoszwalacik commented on #181
could you publish your test with any working aspect on CrudRepository? In my test when I change JaversAuditableAspect to any other aspect, even with simple log statement, Spring fails in the same way.

I've asked on stack about it: http://stackoverflow.com/questions/31679228/unable-to-create-spring-aop-aspect-on-spring-data-jpa-repository-when-cglib-prox
Take a look at @manish response...

[2015-07-30 19:47] bartoszwalacik commented on #181
this is a Spring issue, see https://jira.spring.io/browse/SPR-12870, looks like it's fixed in Spring 4.2 RC1

[2015-07-30 21:56] bartoszwalacik commented on #181
I've tested JaVers auditable aspect with the latest Spring milestone 4.2.0.RC2 and it works in both cases: Java and CGLIB. Use these versions:

[code]

[2015-07-30 21:56] #181 closed

[2015-07-30 23:43] deepu105 commented on #181
Thanks guys,  thats good
On 31 Jul 2015 05:56, "Bartosz Walacik" <notifications@github.com> wrote:

[2015-07-31 17:00] fuhrmannm opened #182 "compare is not thread safe"
Here is a stack-trace snippet:

java.util.ConcurrentModificationException: null
    at java.util.HashMap$HashIterator.nextNode(HashMap.java:1429) ~[na:1.8.0_31]
    at java.util.HashMap$ValueIterator.next(HashMap.java:1458) ~[na:1.8.0_31]
    at org.javers.core.metamodel.type.TypeMapper.findNearestAncestor(TypeMapper.java:302) ~[javers-core-1.2.1.jar!/:na]
    at org.javers.core.metamodel.type.Typ

[2015-08-02 06:37] bartoszwalacik commented on #182
Right,  will change to concurrent hash map

[2015-08-03 13:37] bojanv55 opened #183 "Cannot register interface Id property"
I have interface that is implemented twice:

    public interface MyInter {
        int getId();

        enum Name implements MyInter {
            private int id;
            public int getId(){}
        }

        class MyInterFactory implements MyInter {
            private int id;
            public int getId(){}
        }
    }

I registered the implementations as Entities:

    .registerEnt

[2015-08-03 15:48] bojanv55 commented on #183
I fixed the issue, by commenting this lines :)

      @Override
    public boolean supports(JaversType propertyType) {
        if (!(propertyType instanceof MapType)){
            return false;
        }

        MapContentType mapContentType =   typeMapper.getMapContentType((MapType)propertyType);
    //        if (mapContentType.getKeyType() instanceof ValueObjectType){
    //            throw n

[2015-08-03 17:37] bartoszwalacik commented on #182
changed to ConcurrentHashMap, released in v1.3.1
http://search.maven.org/#search|ga|1|javers-core

[2015-08-03 17:37] #182 closed

[2015-08-03 17:41] bartoszwalacik commented on #170
closing due to lack of activity, please reopen it, when you would be eager to reproduce the bug

[2015-08-03 17:41] #170 closed

[2015-08-03 17:42] bartoszwalacik commented on #171
closing due to lack of activity, reopen it, when you would be eager to reproduce the bug

[2015-08-03 17:48] bartoszwalacik commented on #183
ok, but this doesn't solve the problem,
so as far as I understand, the issue is that you cannt register your enum type as Javers Entity? That's interesting, i didn't tested enums in such way ...

[2015-08-03 18:07] bojanv55 commented on #183
Well, in fact, it solved the problem for me.

[2015-08-03 20:39] bartoszwalacik commented on #183
ok, but I'm not going to remove these lines :)
First, i dont understand why you trying to change mapping for enums? All enums should be mapped by Javers as PrimitiveTypes by default.

[2015-08-03 22:59] bojanv55 commented on #183
Well since enums in java are more-less same as other classes I'm using them for partial entity loading. Suppose that in database you have a table of 100 sport names, but in code you only need 2 of them for comparison like "if Sport.SOCCER=array[0].getSport()". That factory serves as loader for 98 sport names from databse and enum serves as holder for 2 hardcoded versions. Everything then can be st

[2015-08-04 11:45] bojanv55 opened #184 "Multilevel comparation"
I assume this should find diffs, since objects are different with same key?

    import org.javers.core.Javers;
	import org.javers.core.JaversBuilder;
	import org.javers.core.diff.Diff;
	import org.javers.core.diff.ListCompareAlgorithm;
	import org.javers.core.metamodel.clazz.EntityDefinition;
	import org.junit.Test;

	import java.util.HashMap;
	import java.util.HashSet;
	import java.util.Map;
	im

[2015-08-04 14:55] lfarmer opened #185 "Child entity inheriting from MappedSuperclass with @Id annotation fails"
Hi Guys,

Got an issue whereby entities that inherit from a @MappedSuperclass which contains the @Id annotation, fail during a commit.

Here is the relevant stacktrace:

[code]

[2015-08-04 21:45] bartoszwalacik commented on #183
well, mixing enums with entities looks like a corner case for me, i never heard about this approach. By definition, enum instances are predefined, and comparing their properties looks strange for me.

JaVers compares enums like primitives, using equals(), and I'm not going to change this strategy.
Can we focus on the problem, that JaVers maps your enums as ValueObjectType?
As I said before, enums

[2015-08-04 21:49] bartoszwalacik commented on #184
well, could you please come up with a failing test which reproduces the issue ? You can write it on Javers fork.

And could you change the title of this issue to sth more meaningful? Is it a bug report or feature request?

[2015-08-04 21:58] bartoszwalacik commented on #185
when your class has @javax.persistence.MappedSuperclass annotation, it is mapped as Entity by Javers. Entities should have ID's.

[2015-08-04 23:01] bojanv55 commented on #184
Well, in code you have a test. In case that I compare 2 different objects (last line = diff4) - it can find that those 2 objects are different. But as soon as I put those objects (different objects) in a HashSet (diff3) - javers is treating two sets as identical ones -- i suppose this should not be the case?

[2015-08-04 23:09] bojanv55 commented on #183
If something looks strange, doesn't mean you should not support it... Enum in Java is just another class with special treatment. Since it can have a ton of additional properties, you should support those also...

But my problems are not the Enums. It is the error that I'm getting because your code is trying to find properties on an interface. Interface that is used as a key in a Map. Since interfa

[2015-08-05 06:22] bartoszwalacik commented on #184
'Map<Long, Map<Integer, Set<Container>>>' ???
Javers supports nested generics to some extent but not sth like this...

Javers is a tool for **domain objects** versioning
And never wont' support all fancy structures that can be coded in Java

[2015-08-05 06:22] #184 closed

[2015-08-05 06:31] lfarmer commented on #185
I seem to have resolved this issue by removing the @Id from the getter and placing it at field level

[2015-08-05 07:18] #185 closed

[2015-08-05 08:13] bartoszwalacik commented on #183
So you are requesting a feature that Javers should allow mapping enums as EntityTypes? What is the purpose of this feature? What it gives to Javers users?

[2015-08-06 09:45] lavpost opened #186 "CANT_SAVE_ALREADY_PERSISTED_COMMIT"
Hi,
when I am running JMeter test (creating books in a loop - author,title,pages -  random values), with number of threads greater than one, once in a while I get this error in eclipse console:

[code]
This is simple spring boot+hibernate+postgresql application with ```@JaversSpringDataAuditable``` annotations, javers core,spring and hibernate version 1.3.1

BookController - createBookRest method:

[2015-08-06 12:57] bartoszwalacik commented on #186
looks like a commit id collision. Could you post a logger outpout. On the INFO level, there should be messages with subsequent commid identifiers.

[2015-08-06 13:38] lavpost commented on #186
[code]

[2015-08-09 20:50] bartoszwalacik commented on #186
fixed in release 1.3.2

[2015-08-09 20:50] bartoszwalacik commented on #186
http://javers.org/documentation/features/#release-notes

[2015-08-10 14:06] lavpost commented on #186
When I started testing my app with the newest version, the same error occured. Less often than in the previous one, though it still exists.

[code]

after about two hours of constant testing the error  disappeared(jMeter -50 threads 100000 samples then 60 threads 120000 samples - no errors).
When I restarted my computer it showed up again.

[code]

I also came across  ``` sequenceLimitReachedExcep

[2015-08-10 18:39] bartoszwalacik commented on #186
I've tested on 20 threds, will try to reproduce this error again and then tuning queue size in SeqGenerator should work

[2015-08-11 20:17] bartoszwalacik commented on #186
I've pushed next fix which should solve the problem finally,
tested on 100 threads doing concurrent writes.

Available in 1.3.3-SNAPSHOT published at
https://oss.sonatype.org/content/repositories/snapshots/

could you check it out?

[2015-08-12 22:12] bartoszwalacik commented on #186
Released in javers 1.3.3

[2015-08-12 22:12] #186 closed

[2015-08-14 11:51] phelypp opened #189 "Audit of the first level entities generic form"
Good morning friends,

I have a doubt.

It is possible only audit the first level of the entity. Currently implementing this recursively. Entity attributes are the main entity audit only the key.

I needed to make generic form. I would not want to set up one by one entity

example

@Entity
@Table(name = "USUARIO")
public class Usuario {

	@Id
	@SequenceGenerator(name = "USUARIO_SEQ", sequenceName

[2015-08-15 07:45] bartoszwalacik commented on #189
Hi @phelypp, if you dont want to audit some field , simply put javers @DiffIgnore annotation on it

[2015-08-19 08:29] linderl opened #190 "Registering entities explicitly should override annotations."
I would like to be able to define a @Transient id method on my entity class that should be used by JaVers for retrieving the id.
Here is a test that describes what i need.
[code]

[2015-08-20 01:29] phelypp commented on #189
Ok, I get it, but our system and very complex and has many hibernate entities mapped with nested entities as well.
We would like to do something generic, audit only the first level, the fields of the entities
nested can be disregarded in the audit. This is very important for our system, it is possible to implement this setting?

Thank you

[2015-08-20 06:49] lathy88 opened #191 "JaVers runtime error - diff for Set of ValueObjects is not supported"
Recently i got this error,

can not handle managed/back reference 'defaultreference' in jackson for composite key
I googled alot but found the below option to use,

JsonManagedReference and JsonBackReference
Reference-> http://wiki.fasterxml.com/JacksonFeatureBiDirReferences

But my situation is,

Class Parent{
private int id;
@JsonManagedReference
Set<Child> childSet;
}

Class Child{
 private Chi

[2015-08-22 21:01] bartoszwalacik commented on #189
We could implement feature which allows you to limit graph depth in object graph building algorithm.
But, honestly, this feature isn't very high in our backlog.

[2015-08-22 21:05] bartoszwalacik commented on #190
will check it, you are right that explicit EntityDefinition should override annotations

[2015-08-22 21:14] bartoszwalacik commented on #191
well, first, JaVers doesn't know anything about Jackson and its annotations

The error you see - 'diff for Set of ValueObjects is not supported' means that you cannot manage  Sets of ValueObject in Javers.
Try to map your entities (Parent and Child) as Entities.

[2015-08-23 08:13] bartoszwalacik commented on #190
so you want to use `getUniqueKey()` property as Entity Id even if it has `@Transient` annotation

[2015-08-23 09:39] linderl commented on #190
Yes, that is correct. Otherwise I would have have to create a dummy column
in the database so that Hibernate can map the entity.
Den 23 aug 2015 10:14 skrev "Bartosz Walacik" <notifications@github.com>:

[2015-08-23 13:15] bartoszwalacik commented on #190
Ok, I am working on the fix

[2015-08-24 05:52] lathy88 commented on #191
Hi Barto,
Thank you for your reply.
Could you please tell me what you mean by map your entities (Parent and Child) as Entities?

[2015-08-24 11:55] bartoszwalacik commented on #190
fixed in release 1.3.4

[2015-08-24 11:55] #190 closed

[2015-08-24 11:56] bartoszwalacik commented on #191
take a look at http://javers.org/documentation/domain-configuration/#domain-model-mapping

[2015-08-24 11:57] bartoszwalacik commented on #191
@lathy88, reopen this ticket if our documentation won't help you

[2015-08-24 11:57] bartoszwalacik commented on #190
give us a star if you like javers https://github.com/javers/javers/stargazers

[2015-08-24 13:53] linderl opened #192 "Mapping of large numbers fails when using MongoDB"
When using large numbers as id's for entity objects you get this exception:
[code]
Here is the unit test that triggers the bugg:
[code]

[2015-08-24 13:57] linderl commented on #190
Thank you for fixing this issue. It really makes a big difference for us when trying out the JaVers library. Unfortunately i found another bugg. https://github.com/javers/javers/issues/192

[2015-08-24 13:59] bartoszwalacik commented on #190
ok, thanks for reporting #192, will check it

[2015-08-24 14:27] bartoszwalacik commented on #192
cant reproduce it
this test passes with JaversMongoRepository
[code]
this test passes with JaversMongoRepository

Which version of gson and mongo you have in runtime?
javers has:
`compile 'com.google.code.gson:gson:2.2.4'`
`compile 'org.mongodb:mongo-java-driver:3.0.1'`

[2015-08-25 06:17] linderl commented on #192
com.google.code.gson:gson:2.3.1
org.mongodb:mongo-java-driver:3.0.1

[2015-08-25 06:52] bartoszwalacik commented on #192
still, i cant reproduce it,
please submit your runnable, failing test to github, could be to forked javers repository

[2015-08-25 07:11] linderl commented on #192
I tried with gson 2.2.4 but the test still fails. We use MongoDB 3.0.5 on windows.
Server info:
[code]

[2015-08-25 07:24] bartoszwalacik commented on #192
I need to reproduce the error on my laptop.

I've pushed new test ("should support long number as Entity Id") for this case to master
https://github.com/javers/javers/blob/8d6f26bcfadb4044b9cf6591c0e936798ece661e/javers-core/src/test/groovy/org/javers/core/JaversRepositoryE2ETest.groovy
but it passes for all repositories including Mongo.
So push your test somewhere, I need to run it.

[2015-08-25 07:25] linderl commented on #192
OK. I'll create a fork and push it there.

[2015-08-25 07:27] bartoszwalacik commented on #192
right, we need to proof that it isn't local enviroment issue

[2015-08-26 06:36] linderl commented on #192
I have a nasty firewall here at work, so I cannot download the dependencies specified in the build file. I have to try at home instead.

[2015-08-26 06:51] bartoszwalacik opened #193 "SEO - sitemap & schema.org"
site map is easy, jekyll can do it

schema.org - requires more effort

sitemap.xml should be linked in robots.txt

[2015-08-28 00:20] vcvetkovik opened #194 "Do not compare child entities between different parents?"
I have a parent entity which contains a list of child entities. This is a specific case where I cannot use the primary key of the child entity as an entity id. I need to use one of the other fields which is unique for the parent but, entity with same field value can exists into other parent nodes. What should I do to compare the children elements as an entities (added, changed, removed) but avoid

[2015-08-28 07:42] bartoszwalacik commented on #194
so you have non-unique id?
think you have to build coposite (and then unique) id from two fields

currently Javers doesnot support composite field Id but you can uset bean-style mapping and getters, i.e.

[code]

[2015-08-28 10:54] vcvetkovik commented on #194
Yes, that is one of the solutions that I have been thinking of. Now when I know that I'm not missing something will try this.
Thank you!

[2015-08-29 09:35] #194 closed

[2015-09-02 18:45] #193 closed

[2015-09-03 12:11] mdf123 opened #195 "EmbeddedId"
The entities in my project all have @EmbeddedId (compount primary key) no @Id.
When I try to use javers on them I get Class '<>' mapped as Entity has no Id property.
Is it somehow possible to to use javers with @EmbeddedId? If yes, how?

[2015-09-03 17:05] bartoszwalacik commented on #195
What is a type of these id objects. Is it some kind of value objects like
[code]
?

[2015-09-04 05:18] mdf123 commented on #195
Hello,

it is this class

@Embeddable
public class EntityPK implements Serializable {

    @Column(columnDefinition = "NUMBER(14)")
    private Long id;
    @Column(columnDefinition = "NUMBER(4)")
    private Integer dienststellenNr;

Used like this

@EmbeddedId
private EntityPK id;

Regards,

Hans M. Rupp

-----Ursprüngliche Mitteilung-----
Von: Bartosz Walacik <notifications@github.com>
An: jave

[2015-09-04 16:59] bartoszwalacik commented on #195
Makes sense, i will add support for EmbeddedId

[2015-09-11 06:57] jefferyyuan opened #196 "Is it possible to exclude globalId from Json? Thanks"
Hi, Dear Javers Devs:

I am trying to use javers, call javers.getJsonConverter().toJson(diff) to get the diff as json string and store it  in db and show it to user.
I am wondering whether we can exclude the globalId property from json string.

Thanks very much for your help.

    {
      "changeType": "ValueChange",
      "globalId": {
        "valueObject": "Person"
      },
      "property": "l

[2015-09-11 13:32] bartoszwalacik commented on #196
Hi jeffery, you can serialize diffs to JSON and store them it in a DB on your own, but it's not recommended approach. We recommend using `javers.commit()` function, which stores your diffs in your database using `JaversRepository` abstraction.

Then you can use JQL (see http://javers.org/documentation/jql-examples/) to query for changes and snapshots.

[2015-09-12 20:56] bartoszwalacik commented on #196
also, take a look at http://javers.org/documentation/repository-examples/#change-log
for Change list processing/formatting

[2015-09-12 20:57] bartoszwalacik commented on #196
if you still need some help, catch us on https://gitter.im/javers/javers chatroom

[2015-09-12 20:57] #196 closed

[2015-09-14 19:15] igler opened #197 "PrettyPrint flag concerning JSON output"
Add configuration option to give user a choice on pretty print or standard.

[2015-09-16 03:03] bartoszwalacik commented on #195
fixed in release 1.3.5

[2015-09-16 03:03] #195 closed

[2015-09-17 16:25] dmmiller612 opened #199 "javers compare is throwing exception when comparing two String arrays"
Javers javers = JaversBuilder.javers().build();
        javers.compare(new String[]{"a", "b"}, new String[]{"a", "b"});

Currently the above code is throwing this exception:
 CLASS_NOT_MANAGED JaVers runtime error - given javaClass '[Ljava.lang.String;' is mapped to ArrayType, ManagedType expected .

I am currently using version 1.3.4.

[2015-09-17 16:40] dmmiller612 commented on #199
Looks like this may be by design, which is completely fine since you can make a direct equal comparison. I just wanted to make sure.

[2015-09-17 16:46] bgalek commented on #199
I think you should compare entities (managed classes) here, exactly as exception says :)

[2015-09-17 17:25] bartoszwalacik commented on #199
Will check it , pretty  sure that works for lists

[2015-09-17 17:48] bartoszwalacik commented on #199
okay, so we have a feature for wrapping top level containers into Entities. It works for collections but not yet for Arrays.

If you would like to contribute a Pull Request, this issue is easy to solve in LiveGraphFactory.wrapTopLevelContainer()

[2015-09-17 19:26] dmmiller612 commented on #199
sure I'll check it out.

[2015-09-20 04:45] bartoszwalacik commented on #183
@bojanv55 , are we doing sth with this issue?

[2015-09-21 07:39] bartoszwalacik commented on #126
released in v 1.3.8

[2015-09-21 07:39] #126 closed

[2015-09-21 07:39] bartoszwalacik commented on #197
released in v 1.3.8

[2015-09-21 07:39] #197 closed

[2015-09-21 07:39] bartoszwalacik commented on #199
released in v 1.3.8

[2015-09-21 07:39] #199 closed

[2015-09-21 07:45] igler commented on #197
Do you have an example how to set this flag or is it documented somewhere?

[2015-09-21 08:43] bartoszwalacik commented on #197
right, there is a new method in JaversBuilder:
http://javers.org/javadoc_1.3.0/org/javers/core/JaversBuilder.html#withPrettyPrint-boolean-

[2015-09-21 09:11] tomazic89 opened #202 "Add support for retrieving whole array in a change of type ArrayChange"
Where ArrayChange is detected the change should offer methods: 'getLeftArray()' and 'getRightArray()' which return the whole array of old/new entity.

[2015-09-21 11:22] igler commented on #197
Thanx, upgraded to the new version and testet it:
<pre><code>@Bean
public Javers javers() {

    JaversSqlRepository sqlRepository = SqlRepositoryBuilder
                .sqlRepository()
                .withConnectionProvider(jpaConnectionProvider())
                .withDialect(DialectName.MYSQL)
                .build();

    return TransactionalJaversBuilder
                .javers()

[2015-09-21 21:36] bartoszwalacik commented on #197
well, so the root cause is, that Jackson cant serialize JaVers Changes to JSON.
I've never tested JaVers with Jackson, we are using Gson but we want Javers to be compatible with spring-mvc, so it do have sense to make JaVers objects beeing Jackson friendly.

I'd prefer if you put a separate issue for that, sth like 'JaVers objects (Change, CdoSnapshot) should be Jackson friendly'.

Now I'm working

[2015-09-21 21:46] bartoszwalacik commented on #202
think we could do it also for ListChange, SetChange and MapChange

[2015-09-21 21:47] bartoszwalacik commented on #192
any progress with reproducing this issue?

[2015-09-21 22:01] bartoszwalacik opened #203 "Javers Mongo Spring Boot starter compatible with Spring Data MongoDB starter"

[2015-09-21 22:02] bartoszwalacik opened #204 "Javers JPA Spring Boot starter compatible with Spring Data JPA starter"

[2015-09-22 07:28] igler opened #205 "JaVers objects should be Jackson friendly"
Serialize JaVers changes <code>List&lt;Change></code> through Jackson. Snapshots <code>List&lt;CdoSnapshot></code>already work.

[2015-09-22 07:29] igler commented on #197
OK, opened https://github.com/javers/javers/issues/205 to continue discussion there.

[2015-09-24 06:41] bartoszwalacik commented on #205
today I'll release javers 1.3.9, int this version
exception `AFFECTED_CDO_IS_NOT_AVAILABLE JaVers runtime error` when serializing Changes to JSON using Jackson is fixed.

Still, JSON output created by Jackson will be very verbose as it simply uses Jackson defaults.
Neat nad consice JSON serialization of JaVers objects can be easily done using JaVers internal JSON mapping engine (based on Gson) - `

[2015-09-24 06:59] igler commented on #205
Sounds good. I'll stay tuned and let you know how things go.

[2015-09-24 16:56] floresek opened #206 "ValueObject deserialization exception"
Hi,

Suppose two classes:
[code]
If I provide Detail object before initil commit, everything is OK:
[code]
If I provide Detail object before after initial commit, everything is OK:
[code]
I got deserialization error during findChanges operation (or third commit attempt):
[code]

In first (working) scenario master is serialized as:
[code]
In second scenario master is serialized as:
[code]
Could you

[2015-09-24 17:31] bartoszwalacik commented on #206
Thanks for reporting, will check it

[2015-09-24 19:27] bartoszwalacik commented on #205
check fresh 1.3.9 release

[2015-09-24 19:27] #205 closed

[2015-09-24 19:27] bartoszwalacik commented on #205
check fresh 1.3.9 release

[2015-09-24 19:27] bartoszwalacik commented on #205
check fresh 1.3.9 release

[2015-09-24 21:40] bartoszwalacik commented on #206
ok, I can reproduce it on H2 repository

[2015-09-25 07:59] floresek commented on #206
I hope you deal with it quickly ;)

[2015-09-25 08:33] igler commented on #205
Works perfect! Using the following code JSON-output is nice and smooth:
<pre><code>@RequestMapping(value = "/{id:[0-9]+}" + ChangeLinks.CHANGES, method = RequestMethod.GET)
public ResponseEntity&lt;List&lt;Change>> getChangesOfLocation(@PathVariable("id") Location location) {

    List<Change> changeList = javers
        .findChanges(QueryBuilder.byInstanceId(location.getId(), PublicLocation.class

[2015-09-25 08:40] floresek commented on #206
The problem (with deserialization) occurs also when updating entity with previously (initially) set reference ValueObjects.
[code]
During second commit the structure of previously saved json is changed from ownerId:entity to ownerId:instance/primaryKey and while deserialization exception occurs.

Similar problem (with deserialization) occurs when using list/set/map of ValueObjects.

[2015-09-25 09:15] floresek opened #207 "Array of ValueObjects diff issue"
Hi again.

I'd like to report an diff isue.

[code]
Second and third commit save Master snapshot with 'array' property changed (although no change occurred).
processChangeList traces only one initial change.

[2015-09-25 09:58] bartoszwalacik commented on #205
well, since you are not using JaVavers to build JSON, it's rather a question to spring-mcv or jackson,
so it's on your side.

That's why I recommend using Javers to building JSON. JaVers creates neat, concise and customizable JSON.

In Spring controller you can do it quite easily:

[code]

[2015-09-25 09:59] bartoszwalacik commented on #206
bugs have high priority, expect a fix after weekend

[2015-09-25 11:41] floresek commented on #206
thanks ;)

[2015-09-25 12:38] igler commented on #205
What I meant was adjusting the following output through e.g. a <code>CustomPropertyComparator</code> (http://javers.org/documentation/diff-configuration/):

<pre><code>"left": {
      "cdoId": 2,
      "cdoClass": {
        "clientsClass": "....LocationNetwork",
        "idProperty": {
          "name": "id",
          "type": "java.lang.Long",
          "genericType": "java.lang.Long",

[2015-09-25 12:50] igler commented on #205
... did the following:
<pre><code>public class LocationNetworkComparator implements CustomPropertyComparator&lt;LocationNetwork, ValueChange> {

	@Override
	public ValueChange compare(LocationNetwork leftNetwork, LocationNetwork rightNetwork, GlobalId globalId, Property property) {

		String leftNetworkName = leftNetwork.getName();
		String rightNetworkName = rightNetwork.getName();

		return new

[2015-09-25 13:43] floresek opened #208 "Commit on not changed Date filed causes creating a snapshot (and commit row)"
Hi,

I noticed that every commit (without audited object changes) on Date/Timestamp field cases creation of timestamp.
Use following code to reproduce the bug.

[code]

Cheers
Mariusz

[2015-09-25 13:56] igler commented on #205
OK, got it now. It is important that the comparator code is written the following way when the third situation occurs:
<pre><code>public class LocationNetworkComparator implements CustomPropertyComparator<LocationNetwork, ValueChange> {

	@Override
	public ValueChange compare(LocationNetwork leftNetwork, LocationNetwork rightNetwork, GlobalId globalId, Property property) {

		String leftNetworkNam

[2015-09-25 14:04] floresek commented on #206
Przepraszam, że Cię nękam issues'ami, ale spodobał mi się javers i chciałem go nieco zewaluować ;)

[2015-09-25 14:26] igler opened #209 "QueryBuilder can take abstract class"
Currently only non-abstract classes work for the following resolution of changes:
<pre><code>javers.findChanges(QueryBuilder.byClass(NotAnAbstractEntity.class).build());</code></pre> If I try <code>byClass</code> with an abstract class nothing is returned. It would be nice if all subclasses are queried and changes on all of them are returned.

[2015-09-25 14:42] igler opened #210 "commitMetadata with author and commitDate in Change object"
<code>CdoSnapshot</code> has rendering of author and commitDate. It would be nice if a <code>Change</code> object has them too in its <code>commitMetadata</code> property when you do not use the <code>javers.getJsonConverter().toJson(...)</code>

[2015-09-25 21:41] bartoszwalacik commented on #205
Ok, good to hear that CustomComparators works for you

[2015-09-26 07:53] igler commented on #205
You can close this issue if you want to.

[2015-09-26 16:43] bartoszwalacik commented on #209
Agreed that it would be nice, but I cant see obvious way of effective implementation of this query (without running table full scans)...

[2015-09-26 16:44] bartoszwalacik commented on #209
In Java , there is no easy way to find all subclasses af a given class using Reflection API

[2015-09-26 16:53] bartoszwalacik commented on #206
Miło,  teraz jestem na wypadzie w Beskid Sądecki wiec ten bug musi  poczekac do poniedzialku. Btw  w javersie jest duże zapotrzebowanie  na kontrybucje...

[2015-09-26 16:53] igler commented on #209
Maybe helpful: https://github.com/ronmamo/reflections

[2015-09-26 16:56] bartoszwalacik commented on #209
Yeah , there  are some libs for that but I really  want to keep JaVers lightweight.

[2015-09-28 09:10] igler commented on #209
BTW, how can I get all changes of all entities, ideally with Paging support?

[2015-09-28 13:28] niclarcipretti opened #211 "Complex objects issue"
Hi,

I'm experiencing major performance issues when trying to audit complex objects with Javers.
The main problem is that Javers gets the whole object with all its dependencies, and if those dependencies has other dependencies, it falls into an endless recursion that takes a lot of time. I was wondering if is there any way to make Javers record just the FK values for the dependencies instead of th

[2015-09-28 13:36] niclarcipretti opened #212 "Auditing native query events"
Hi,

Is it possible to audit hibernate's native inserts and updates querys (using query.executeUpdate()) with Javers?

Cheers

Nick

[2015-09-28 13:39] floresek commented on #206
OK, jak się wystarczająco wgryzę ;)

[2015-09-28 15:00] bartoszwalacik commented on #212
I dont know, maybe  with  some hibernate plugin... Currently javers does not know much about Hibernate

[2015-09-28 15:10] bartoszwalacik commented on #211
Quick answer : use @DiffIgnore on those properties you dont want to audit and Javers wont follw them

[2015-09-28 15:29] niclarcipretti commented on #211
Hi @bartoszwalacik,

I can't do that, cause I need to know if the relation has changed (e.g the User's Person has changed).

What do you suggest? In your opinion, is this a weird use case?

Cheers

Nick

[2015-09-28 15:52] niclarcipretti commented on #212
Hi @bartoszwalacik,

Once Javers knows hibernate's annotations, I thought someone already managed to do such thing. In fact, I'm using Javers with Hibernate/JPA and it works just fine. But I can't figure how to intercept this kind of event and treat it, it looks really complex.

If you come up with some good idea, please let me know. Meanwhile, I'll do my best here.

Cheers

Nick

[2015-09-29 07:10] bartoszwalacik commented on #211
take a look at https://github.com/javers/javers/issues/189
would it solve your problem?

[2015-09-29 11:09] niclarcipretti commented on #211
Not really.  I don't need depth control. I need no depth at all. I think the best solution would be something like: @DiffIgnore(logId = true) where it would ignore the object and just log the id. So, when I retrieve it from Mongo, I just have to lazy initialize the object fetching it by its id.
Too confusing? What is your opinion?

Cheers

Nick

[2015-09-29 14:40] floresek opened #213 "Changing property value to null does not cause seting changed_properties column"
Hi,

Suppose class:
[code]
If I executed following code:
[code]

I noticed that snapshot of second commit has '[]' value in changed_properties column - but should have all nullified properties names.

Cheers
Mariusz

[2015-09-30 05:51] bartoszwalacik commented on #206
Found a bug in serializing ValueObject references in sql repository. In some cases JSON is malformed

[2015-09-30 07:22] satya-j opened #214 "Javers-Spring Integration : Can't delete object not found error"
I see below error while trying to delete an entity from screen.
"nested exception is JaversException: CANT_DELETE_OBJECT_NOT_FOUND JaVers runtime error - failed to delete object"

Scenario: If I create a new entity and update/delete it, it's working fine. but If I try to delete an existing entity it's throwing the above error.

Is there a way Javers can captures(ignores if the snapshot exists alre

[2015-09-30 19:23] bartoszwalacik commented on #206
fixed in v 1.3.10

[2015-09-30 19:23] #206 closed

[2015-09-30 19:26] bartoszwalacik commented on #214
Please push a failing test which reproduces this case, you can do it on your forked Javers repository

[2015-09-30 19:36] bartoszwalacik commented on #207
if you are using sql repository, this issue could be fixed in fresh 1.3.10, could you check this?

Bug you've posted - https://github.com/javers/javers/issues/206 - was affecting snapshots comparision

[2015-09-30 19:41] bartoszwalacik commented on #208
are you using java.sql.Timestamp and java.util.Date ?

[2015-09-30 19:48] bartoszwalacik commented on #208
I dont see nothing wrong here, I got 15 changes (14 ValueChanges + 1 NewObject change), all bounded to the first commit - `Commit 1.00`

[2015-09-30 19:53] bartoszwalacik commented on #209
for now you cant, but it can be easily implemented, also we have a task about paging https://github.com/javers/javers/issues/179, ideal for contribution

[2015-09-30 19:54] bartoszwalacik commented on #209
let me know if uou would like to contribute these two things

[2015-09-30 19:56] bartoszwalacik commented on #210
as far as i know, it has it, e.g.
[code]

[2015-09-30 19:59] bartoszwalacik commented on #210
I mean it is present in JSON when this json is produced by javers, if you are using jackson or sth else, maybe it is a configuration issue of your serializer?

[2015-09-30 21:44] bartoszwalacik commented on #211
well, it could be done, think better name for this kind of annotation would be @ShallowReference

So JaVers would only log reference changes for this property but would stop building object graph from it. This ann could also work on class level.

Looks like it's not very hard to implement, maybe you could think about some contribution? I'm quite busy now with older isues waiting in the backlog ...

[2015-09-30 21:55] bartoszwalacik commented on #212
in fact, Javers understands JPA annotations :)
JaVers strives to be technology agnostic, and we dont want it to be thightly integrated with Hibernate or any other lib (maybe except Spring).

Think about biulding it using JaVers, Hibernate or your SQL driver should have some hooks.

[2015-09-30 21:56] #212 closed

[2015-09-30 21:57] bartoszwalacik commented on #192
closing due to lack of activity, cant reproduce it

[2015-10-01 06:33] floresek commented on #208
Yes, I tested with:
* java.sql.Timestamp
* java.util.Date
* java.sql.Date

I ran the test with 1.3.10 javers version and java: jdk1.7.0_79 (64 bit)

Below I attached exported 3 rows from jv_snapshot, which was created during commits:

[code]

[2015-10-01 06:41] floresek commented on #207
The problem still exists in new version.

I ran the test with 1.3.10 javers version and java: jdk1.7.0_79 (64 bit)

Below I attached exported rows from jv_snapshot, which were created during commits:

[code]

[2015-10-01 06:43] floresek commented on #206
Excelent, thanks ;)

[2015-10-01 06:54] bartoszwalacik commented on #213
fixed in v 1.3.11 released right now

[2015-10-01 06:54] #213 closed

[2015-10-01 06:56] floresek commented on #211
@Bartosz - additional property for @ShallowReference could be usefull - persistIfNotExists

If true, javers should persist the referenced object (so the whole referenced object should be passed)

if false - only referenced object id. If the object does not exists in javers DB, the exception should be thrown (only @Id of referenced object should be passed).

[2015-10-01 07:34] deepu105 commented on #214
@bartoszwalacik some more details on this.

The issue is below I guess

we have some tables which has data created using SQL insert scripts, so these data are not yet indexed by Javers, if we go and update the data via spring repository which has javers annotation then javers creates an index for the table and the data, but if the action is delete instead of update then it throws this error.

So i

[2015-10-01 08:06] floresek commented on #213
Thanks for quick fix ;)

[2015-10-01 08:10] floresek commented on #208
Also exists running with jdk1.8.0_60 (64 bit)

[2015-10-01 09:28] floresek opened #216 "How to get nested ValuObjects changes"
Hi,

I have classes:

[code]

and test code:
[code]
I know how to read first level ValueObject changes:
[code]
but how to read second, third, ... - any level VO changes/snapshots?

f.e.
[code]

[2015-10-01 19:37] bartoszwalacik commented on #214
There is no data migration tool. Generally, data migration is a rabbit hole, there is no way to do it automatically. The only way is to pass old data throught javers instance using standard Commit API, in chronological order.
`javers.commit()` and `javers.commitShallowDelete()`

imho `commitShallowDelete()` should solve your problem with deleted objects

[2015-10-01 19:39] bartoszwalacik commented on #207
okay, will take a look at this soon

[2015-10-01 19:44] bartoszwalacik commented on #211
so maybe you take look at javers codebase and consider contributing this feature? it shouldn't be very hard, and I can help if you approach some difficulties...

[2015-10-01 19:44] bartoszwalacik commented on #213
thanx for clear bug report :)

[2015-10-01 19:45] bartoszwalacik commented on #213
dont forget to give us a star https://github.com/javers/javers/stargazers

[2015-10-01 19:51] bartoszwalacik commented on #208
I need a failing test with repro of this case.
For now, the test I've wrote, passes on my side ...

[code]

[2015-10-01 19:55] bartoszwalacik commented on #216
well, nested ValueObjects dont have a goood support yet :(

[2015-10-02 07:20] floresek commented on #208
The test you attached also passes on my side - but when you provide sql repository you can see, that with every commit a snapshot is created with date/time columns reported as changed.

I used sql (Postgres) repository created with following code:
[code]
With such repository 3 snaphots is returned by:
[code]

[2015-10-02 14:24] bartoszwalacik commented on #208
looks like there is a problem with timezones serialization/deserialization

[2015-10-02 20:53] bartoszwalacik commented on #208
actually, it's a problem with millis, in the new version, all datetimes will be serialized with millis, using ISO datetime format yyyy-MM-dd'T'HH:mm:ss.SSS

[2015-10-03 11:55] bartoszwalacik commented on #208
fixed in 1.3.12

 Added support for legacy date types: `java.util.Date`, `java.sql.Date`, `java.sql.Timestamp` and `java.sql.Time`.
 Added milliseconds to JSON datetime format.
 All local datetimes are now serialized using ISO format `yyyy-MM-dd'T'HH:mm:ss.SSS`.

[2015-10-03 11:55] #208 closed

[2015-10-03 14:36] igler commented on #210
Well it works when exporting a snapshot. The difference when exporting a change is, that author etc. are wrapped inside a "reference" (see screenshots).

Change:
![metadata_change](https://cloud.githubusercontent.com/assets/313565/10263370/ad6c9144-69ec-11e5-904e-52402f039acc.png)

Snapshot:
![metadata_snapshot](https://cloud.githubusercontent.com/assets/313565/10263371/b06c1982-69ec-11e5-8e0c-440

[2015-10-04 05:43] bartoszwalacik commented on #210
yes, this is by design:
[code]
CommitMetadata only exists when you are fetching changes from JaversRepository.
When changes are calculated by `javers.compare()`, commitMetadata is empty.

Agreed that this `Optional` could be cleared in JSON output

[2015-10-05 12:31] peda opened #218 "Random ClassCastExceptions"
Hello,

I do have a structure of nested entity objects (similar to the large depth employee sample). Even if I re-run the application multiple times with the same data set the exception does not occur at every run - at some runs no exceptions happens, at some runs the exceptions occurs just once even though I'm comparing dozens of objects with nearly the same values (just some primitives do have d

[2015-10-05 13:25] bartoszwalacik commented on #218
how can I reproduce it?

[2015-10-05 13:43] peda commented on #218
that's the tricky question ;-) any suggestions?

[2015-10-05 16:26] bartoszwalacik commented on #218
I need more data to solve this, stack trace is not enought in this case.
Especially, i need to know how your domain objects look like.

Failing test would be nice.

[2015-10-05 16:55] peda commented on #218
I'll try to reproduce it in a test project - but I will definitely need a few days for that because I'm really busy at the moment and need to extract that test case from a larger project.

[2015-10-05 19:39] peda commented on #218
quick question: is javers.compare(oldObj, newObj) thread-safe? I figured out that it might happen that the same javers instance was used by multiple threads at the same time

[2015-10-05 20:32] bartoszwalacik commented on #218
ok, no hurry,
javers.compare() is designed to be thread-safe, but in fact, the case you are describing looks like some concurrency issue...

[2015-10-05 21:57] peda commented on #218
I managed to isolate the issue in a smaller project - but as it does still contain some business logic I've sent you the test project as email to javers@javers.org - I hope that works for you, if it doesn't please let me know. Thanks :-)

[2015-10-06 07:29] floresek commented on #208
Thanks, works perfectly now ;)

[2015-10-08 06:24] floresek opened #219 "Find changes/snapshots by commit id"
Hi,

In usual business case user often browses detailed changes done during an individual commit.

From performance point of view new QueryBuilder function would be useful:
startingFrom(CommitId commitId)
or (if it is hard to implement because of CommitId nature - string major.minor)
startingFrom(LocalDateTime date)

I current version to find changes done in a commit all changes have to be read fr

[2015-10-08 06:42] floresek opened #220 "ValueObject changes would be reported when quering for entity changes"
Hi,

In current version when calling:
[code]
ValueObject changes are reported in shallow level:
* VO reference change
* VO collection changed
Unfortunately changes done in VO properties are not reported.

If an entity has got many Value Objects (by references, in collections) to get all changes done on the entity VO properties many additional complex logic and queries have to be done, to resolve V

[2015-10-08 12:10] floresek opened #221 "Invalid next CommitId resolving algorithm?"
Hi,

I am evaluating javers in some project and noticed (several times) an blocking problem with resolving next CommitId.

Current implementation resolving next commit id basing on max(commit_pk) record commit_id column value (increasing major nr by 1 and giving next minor from a pool).

In mentioned above cases max(commit_pk) record have not got max(commit_id) value from existng  records.
There w

[2015-10-09 12:58] igler commented on #210
Using the <code>jackson-datatype-jdk8</code> module does not help as <code>Optional</code> in JaVers has its own implementation. Any suggestions how I can overcome this problem so metadata of <code>Change</code> is serialized?

[2015-10-09 14:01] bartoszwalacik commented on #210
yes, thats because, many users still did'n upgraded to Java8

think you need to write Custom Deserializer for Jackson, see http://www.baeldung.com/jackson-deserialization
For now, I dont have plans to add Jackson support in Javers, but I'm eager to accept PR with such feature

[2015-10-09 14:27] bartoszwalacik commented on #207
fix is on its way to Maven Central ...

[2015-10-09 14:31] bartoszwalacik commented on #219
make sense, looks like a good issue to start contributing to JaVers :)

[2015-10-09 14:37] bartoszwalacik commented on #219
@florsek, rozwijam JaVersa praktycznie jednoosobowo w czasie wolnym, spójż na backlog https://github.com/javers/javers/issues
W kolejce czeka masa sensownych tasków do zrobienia ale sam nie mam szans tego ogarnąć w tym roku. Fakty są takie, ze JaVers potrzebuje więcej commiterów, jeśli ma się rozwijać. Widzę, że Ty już nieźle się wgryzłeś w kod Javersa, znalazłeś kilka błędów, masz pomysły na nowe

[2015-10-09 16:09] bartoszwalacik commented on #221
Hi, in fact I'm not an author of Poly but I'm quite accustomed with this tool. Will take a look at your fix,  could you change  it to Pull Request from your  fork?

[2015-10-09 16:10] bartoszwalacik commented on #218
Ok , will do

[2015-10-09 19:16] bartoszwalacik commented on #207
fixed in 1.3.13 release

[2015-10-09 19:16] #207 closed

[2015-10-09 19:38] bartoszwalacik commented on #218
ok, exception reproduced on my laptop, when running your test

[2015-10-09 20:17] bartoszwalacik commented on #220
Maybe API should simply looks like that:
[code]

and that would give you changes done on all VO embedded in given entity

[2015-10-09 20:44] bartoszwalacik commented on #221
I'm affraid that `select x from y order by z limit 100` means full table scan for most databases, that would badly affect query performance, we need faster query based on db index...

[2015-10-09 20:59] bartoszwalacik commented on #221
I think we should convert commit_id column to number(12,2) and add index on it

[2015-10-09 22:35] peda commented on #218
thanks, that's great to know :-)

[2015-10-10 11:51] igler commented on #210
Writing a custom serializer for <code>Optional&lt;CommitMetadata></code> and manually register it in <code>Jackson2ObjectMapperBuilder</code> solved the problems. Thanks for you help, you can close the issue if you want to.

[2015-10-10 11:58] igler commented on #209
I think extending
<pre><code>public static QueryBuilder byClass(Class requiredClass)</code></pre>
to
<pre><code>public static QueryBuilder byClass(Class... requiredClasses)
</code></pre>
could help so I can submit a list of classes and do reflections on my side?

[2015-10-11 12:45] asaf-romano opened #224 "ClassCastException with joda-time objects"
Hey there,

Trying to use the library on an object containing various jodatime's DateTime fields, I get the following exception:
``
java.util.concurrent.CompletionException: java.lang.ClassCastException: org.joda.time.chrono.ISOChronology cannot be cast to org.javers.core.metamodel.object.GlobalId
	at java.util.concurrent.CompletableFuture.encodeThrowable(CompletableFuture.java:273) ~[na:1.8.0_60]

[2015-10-11 13:03] asaf-romano opened #225 "Cannot compare an object with an Optional<List<*>> field"
When trying to compare an object that has an Optional<List<String>> field, I got the following exception:
``
Caused by: org.javers.common.exception.JaversException: UNSUPPORTED_OPTIONAL_CONTENT_TYPE JaVers runtime error - ListType{baseType:'java.util.List<java.lang.String>'} is not supported as Optional<> content type
``

[2015-10-11 18:01] bartoszwalacik commented on #225
it juts says that Optional of List is not supported, i dont think Javers it would be. Optional of List looks like too complex model, why dont you just use empty list instead of Optional.empty()?

[2015-10-11 18:01] #225 closed

[2015-10-11 18:04] #210 closed

[2015-10-11 18:06] bartoszwalacik commented on #224
looks similar to https://github.com/javers/javers/issues/218

[2015-10-11 18:07] bartoszwalacik commented on #224
we are working on fixing this

[2015-10-11 18:09] bartoszwalacik commented on #209
looks like a good idea

[2015-10-11 18:33] asaf-romano commented on #224
FWIW, unlike the case described there, this one isn't random at all. One DateTime object breaks ``compare`` permanently (btw, this DateTime object is also wrapped in Optional).

[2015-10-11 18:35] asaf-romano commented on #225
It's a view over Other People's Model, in which there's actually a difference between the two cases. :)

[2015-10-11 18:38] bartoszwalacik commented on #225
Sorry, i cant help you, it looks like a corner case

[2015-10-11 18:40] bartoszwalacik commented on #224
If you submit a failing test which isoletes the problem, it would help us to find the bug

[2015-10-11 20:06] bartoszwalacik commented on #218
lombok :(
you need a special plugin even just to compile it

[2015-10-11 20:12] peda commented on #218
yes, but therefore you don't have to write any getters and setters on your own ;-)

[2015-10-11 20:16] bartoszwalacik commented on #218
yes, I know what it is, but I really dont like it,
nevermind, think i found some issue in javers-core, we need to improve thread-safety in TypeMapper

[2015-10-12 06:28] tomazic89 opened #226 "CustomComparators should be used when copmparing collection items"
Currently there is no option to register custom comparator for custom type of items in collection.
Comparator should be used by type of item in the collection.

[2015-10-12 11:05] floresek commented on #219
Jak znajdę wolne moce przerobowe i będę w stanie coś sensownego zrobić, to postaram się przyłączyć.
A co do wgryzania, to nadal operuję przy powierzchni ;)

[2015-10-12 15:39] bartoszwalacik commented on #226
and simply implementing equals() in class of items stored in collection is not an option for you, right?

[2015-10-12 16:32] igler opened #227 "CLASS_NOT_MANAGED exception"
I am getting the following error when trying to compare two entities:
<pre><code>JaversException: CLASS_NOT_MANAGED JaVers runtime error - given javaClass '....eip.location.EmonsLocation' is mapped to CustomType, ManagedType expected</code></pre>

Have tried:
<pre><code>.registerEntity(new EntityDefinition(EmonsLocation.class))
.registerCustomComparator(new EmonsLocationJaVersComparator(), EmonsLo

[2015-10-13 05:05] bartoszwalacik commented on #218
fix is ready, now I need some time for Maven Central sync, stay tuned